Repository veecle/veecle-os: changes, and which Codecov flags are due for each by the changed paths.
All: main, freertos, std, can-core, can-support, someip-core, someip-support, support, orchestrator-prototype

.codecov.yml:

component_management:
  individual_components:
    - component_id: "main"
      paths:
        - "veecle-os-runtime/src"
        - "veecle-os-runtime/macros"
        - "veecle-osal-api"
        - "veecle-osal-std"
        - "veecle-osal-embassy"
        - "veecle-osal-freertos"
    - component_id: "freertos"
      paths:
        - "veecle-osal-freertos"
    - component_id: "std"
      paths:
        - "veecle-osal-std"
    - component_id: "can-core"
      paths:
        - "veecle-os-data-support-can/src"
    - component_id: "can-support"
      paths:
        - "veecle-os-data-support-can-codegen"
        - "veecle-os-data-support-can-macros"
        - "veecle-os-data-support-can/tests"
    - component_id: "someip-core"
      paths:
        - "veecle-os-data-support-someip/src"
    - component_id: "someip-support"
      paths:
        - "veecle-os-data-support-someip-macros"
    - component_id: "support"
      paths:
        - "veecle-os-examples"
        - "veecle-os-test"
        - "veecle-telemetry-ui"
        - "veecle-telemetry-server"
        - "veecle-telemetry-server-protocol"
        - "veecle-os-runtime/tests"
    - component_id: "orchestrator-prototype"
      paths:
        - "veecle-ipc"
        - "veecle-ipc-protocol"
        - "veecle-orchestrator"
        - "veecle-orchestrator-cli"
        - "veecle-orchestrator-protocol"

chore: downgrade `can-dbc`
  Cargo.lock
  Cargo.toml
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-runtime-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-os-runtime-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-osal-std-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-osal-std-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/renamed-veecle-telemetry-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/veecle-os-crate/Cargo.lock
Due: main, std, someip-support

chore: fix egui breaking changes
  veecle-telemetry-ui/src/app.rs
  veecle-telemetry-ui/src/ui/timeline/mod.rs
  veecle-telemetry-ui/src/ui/timeline/paint_ticks.rs
Due: support

chore: regenerate exemptions
  supply-chain/config.toml
Due: none

refactor(runtime): pass span context explicitly in datastore operations
  veecle-os-runtime/src/datastore/exclusive_reader.rs
  veecle-os-runtime/src/datastore/slot/slot.rs
  veecle-os-runtime/src/datastore/slot/waiter.rs
  veecle-os-runtime/src/datastore/writer.rs
Due: main

refactor(orchestrator): split conductor module up (#85)
  veecle-orchestrator/src/api.rs
  veecle-orchestrator/src/conductor.rs
  veecle-orchestrator/src/main.rs
  veecle-orchestrator/src/runtime/conductor/actor.rs
  veecle-orchestrator/src/runtime/conductor/mod.rs
  veecle-orchestrator/src/runtime/conductor/state.rs
  veecle-orchestrator/src/runtime/instance.rs
  veecle-orchestrator/src/runtime/mod.rs
Due: orchestrator-prototype

refactor(runtime): remove explicit root span
  veecle-os-runtime/src/execute.rs
Due: main

feat: remove root span concept
  CHANGELOG.md
  veecle-telemetry/examples/async.rs
  veecle-telemetry/examples/basic.rs
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/macros.rs
  veecle-telemetry/src/span.rs
  veecle-telemetry/tests/lib.rs
Due: none

refactor(telemetry)!: remove explicit root spans (#89)
  CHANGELOG.md
  veecle-os-runtime/src/execute.rs
  veecle-telemetry/examples/async.rs
  veecle-telemetry/examples/basic.rs
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/macros.rs
  veecle-telemetry/src/span.rs
  veecle-telemetry/tests/lib.rs
Due: main

fix: disable coverage collection for `std` OSAL thread test code
  veecle-osal-std/src/lib.rs
  veecle-osal-std/src/thread.rs
Due: main, std

fix: disable coverage collection for `std` OSAL thread test code (#93)
  veecle-osal-std/src/lib.rs
  veecle-osal-std/src/thread.rs
Due: main, std

feat: add `ThreadAbstraction` implementation for Embassy OSAL
  veecle-osal-embassy/README.md
  veecle-osal-embassy/src/lib.rs
  veecle-osal-embassy/src/thread.rs
Due: main

refactor(runtime): pass span context explicitly in datastore operations (#86)
  veecle-os-runtime/src/datastore/exclusive_reader.rs
  veecle-os-runtime/src/datastore/slot/slot.rs
  veecle-os-runtime/src/datastore/slot/waiter.rs
  veecle-os-runtime/src/datastore/writer.rs
Due: main

fix: link the read from `ExclusiveReader::take` back to its write
  veecle-os-runtime/src/datastore/slot/slot.rs
Due: main

fix: link the read from `ExclusiveReader::take` back to its write (#95)
  veecle-os-runtime/src/datastore/slot/slot.rs
Due: main

feat: add `ThreadAbstraction` implementation for Embassy OSAL (#92)
  veecle-osal-embassy/README.md
  veecle-osal-embassy/src/lib.rs
  veecle-osal-embassy/src/thread.rs
Due: main

refactor: use `LazyCell` for thread id in OSAL
  veecle-osal-embassy/src/thread.rs
  veecle-osal-std/src/thread.rs
Due: main, std

feat(orchestrator): add privileged runtime flag and control message support
  veecle-ipc-protocol/src/lib.rs
  veecle-ipc/src/connector.rs
  veecle-orchestrator-cli/src/lib.rs
  veecle-orchestrator-protocol/src/lib.rs
  veecle-orchestrator/src/api.rs
  veecle-orchestrator/src/runtime/conductor/actor.rs
  veecle-orchestrator/src/runtime/conductor/state.rs
  veecle-orchestrator/src/runtime/instance.rs
Due: orchestrator-prototype

feat(ipc): support passing orchestrator control messages
  Cargo.lock
  veecle-ipc-protocol/Cargo.toml
  veecle-ipc-protocol/src/lib.rs
  veecle-ipc/src/actors/control.rs
  veecle-ipc/src/actors/mod.rs
  veecle-ipc/src/connector.rs
  veecle-ipc/src/lib.rs
  veecle-os-examples/orchestrator-ipc/Cargo.lock
Due: support, orchestrator-prototype

feat(orchestrator): implement control messages for runtime management
  Cargo.lock
  veecle-ipc-protocol/Cargo.toml
  veecle-ipc-protocol/src/lib.rs
  veecle-orchestrator-protocol/src/lib.rs
  veecle-orchestrator/src/runtime/conductor/actor.rs
  veecle-orchestrator/src/runtime/conductor/mod.rs
  veecle-orchestrator/src/runtime/conductor/state.rs
  veecle-orchestrator/src/runtime/instance.rs
  veecle-os-examples/orchestrator-ipc/Cargo.lock
Due: support, orchestrator-prototype

docs: add "useless machine" IPC example of privileged runtimes
  veecle-os-examples/orchestrator-ipc/run.sh
  veecle-os-examples/orchestrator-ipc/src/bin/useless-machine.rs
Due: support

refactor: use `LazyCell` for thread id in OSAL (#94)
  veecle-osal-embassy/src/thread.rs
  veecle-osal-std/src/thread.rs
Due: main, std

refactor!: use `NonZeroU64` for thread id
  veecle-osal-api/src/thread.rs
  veecle-osal-embassy/src/thread.rs
  veecle-osal-std/src/thread.rs
Due: main, std

feat(orchestrator): implement control messages for runtime management (#91)
  Cargo.lock
  veecle-ipc-protocol/Cargo.toml
  veecle-ipc-protocol/src/lib.rs
  veecle-ipc/src/actors/control.rs
  veecle-ipc/src/actors/mod.rs
  veecle-ipc/src/connector.rs
  veecle-ipc/src/lib.rs
  veecle-orchestrator-cli/src/lib.rs
  veecle-orchestrator-protocol/src/lib.rs
  veecle-orchestrator/src/api.rs
  veecle-orchestrator/src/runtime/conductor/actor.rs
  veecle-orchestrator/src/runtime/conductor/mod.rs
  veecle-orchestrator/src/runtime/conductor/state.rs
  veecle-orchestrator/src/runtime/instance.rs
  veecle-os-examples/orchestrator-ipc/Cargo.lock
  veecle-os-examples/orchestrator-ipc/run.sh
  veecle-os-examples/orchestrator-ipc/src/bin/useless-machine.rs
Due: support, orchestrator-prototype

feat(telemetry)!: replace execution id with thread id
  CHANGELOG.md
  veecle-ipc/src/connector.rs
  veecle-ipc/src/telemetry.rs
  veecle-os-examples/embassy-std/src/main.rs
  veecle-os-examples/freertos-linux/src/bin/alloc.rs
  veecle-os-examples/freertos-linux/src/bin/queues.rs
  veecle-os-examples/freertos-linux/src/bin/time.rs
  veecle-os-examples/orchestrator-ipc/src/bin/ping.rs
  veecle-os-examples/orchestrator-ipc/src/bin/pong.rs
  veecle-os-examples/orchestrator-ipc/src/bin/trace.rs
  veecle-osal-std-macros/src/main_impl.rs
  veecle-telemetry-ui/examples/continuous.rs
  veecle-telemetry-ui/examples/remote.rs
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry/examples/async.rs
  veecle-telemetry/examples/basic.rs
  veecle-telemetry/src/collector/json_exporter.rs
  veecle-telemetry/src/collector/mod.rs
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/lib.rs
  veecle-telemetry/src/protocol.rs
  veecle-telemetry/tests/lib.rs
Due: main, std, support, orchestrator-prototype

refactor(telemetry): remove thread-local current span tracking
  veecle-ipc/src/telemetry.rs
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/log.rs
  veecle-telemetry/src/protocol.rs
  veecle-telemetry/src/span.rs
  veecle-telemetry/src/test_helpers.rs
Due: support, orchestrator-prototype

refactor(telemetry)!: replace `TraceId` with `ProcessId` for span identification
  veecle-ipc/src/telemetry.rs
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry/src/collector/mod.rs
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/lib.rs
  veecle-telemetry/src/log.rs
  veecle-telemetry/src/macros.rs
  veecle-telemetry/src/protocol.rs
  veecle-telemetry/src/span.rs
  veecle-telemetry/src/test_helpers.rs
  veecle-telemetry/tests/lib.rs
Due: support, orchestrator-prototype

feat(telemetry): implement custom serialization for telemetry ids
  CHANGELOG.md
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/protocol.rs
  veecle-telemetry/src/test_helpers.rs
  veecle-telemetry/tests/lib.rs
Due: none

refactor!: use `NonZeroU64` for thread id (#96)
  veecle-osal-api/src/thread.rs
  veecle-osal-embassy/src/thread.rs
  veecle-osal-std/src/thread.rs
Due: main, std

feat(telemetry)!: replace execution id with thread id
  CHANGELOG.md
  veecle-ipc/src/connector.rs
  veecle-ipc/src/telemetry.rs
  veecle-os-examples/embassy-std/src/main.rs
  veecle-os-examples/freertos-linux/src/bin/alloc.rs
  veecle-os-examples/freertos-linux/src/bin/queues.rs
  veecle-os-examples/freertos-linux/src/bin/time.rs
  veecle-os-examples/orchestrator-ipc/src/bin/ping.rs
  veecle-os-examples/orchestrator-ipc/src/bin/pong.rs
  veecle-os-examples/orchestrator-ipc/src/bin/trace.rs
  veecle-os-examples/orchestrator-ipc/src/bin/useless-machine.rs
  veecle-osal-std-macros/src/main_impl.rs
  veecle-telemetry-ui/examples/continuous.rs
  veecle-telemetry-ui/examples/remote.rs
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry/examples/async.rs
  veecle-telemetry/examples/basic.rs
  veecle-telemetry/src/collector/json_exporter.rs
  veecle-telemetry/src/collector/mod.rs
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/lib.rs
  veecle-telemetry/src/protocol.rs
  veecle-telemetry/tests/lib.rs
Due: main, std, support, orchestrator-prototype

chore: Add explicit MSRV policy (#88)
  README.md
Due: none

fix: inherit stdio so failures to start can be seen
  veecle-orchestrator/src/runtime/instance.rs
Due: orchestrator-prototype

wip: participate in tokio-coöp
  veecle-osal-std-macros/src/main_impl.rs
Due: main, std

feat(telemetry): add pretty printer exporter
  CHANGELOG.md
  veecle-telemetry/src/collector/mod.rs
  veecle-telemetry/src/collector/pretty_exporter.rs
  veecle-telemetry/src/value.rs
Due: none

docs: add example to readme
  README.md
Due: none

ci: check readme example in CI
  Cargo.lock
  Cargo.toml
  readme-example/Cargo.toml
  readme-example/src/lib.rs
Due: none

chore: update MSRV to 1.91
  CHANGELOG.md
  Cargo.toml
  rust-toolchain-nightly.toml
  rust-toolchain.toml
Due: none

chore: update flake inputs
  flake.lock
Due: none

Introduce send policy
  veecle-ipc/src/send_policy.rs
Due: orchestrator-prototype
