Repository veecle/veecle-os: changes, and which Codecov flags are due for each by the changed paths.
All: main, freertos, std, can-core, can-support, someip-core, someip-support, support, orchestrator-prototype

.codecov.yml:

component_management:
  individual_components:
    - component_id: "main"
      paths:
        - "veecle-os-runtime/src"
        - "veecle-os-runtime/macros"
        - "veecle-osal-api"
        - "veecle-osal-std"
        - "veecle-osal-embassy"
        - "veecle-osal-freertos"
    - component_id: "freertos"
      paths:
        - "veecle-osal-freertos"
    - component_id: "std"
      paths:
        - "veecle-osal-std"
    - component_id: "can-core"
      paths:
        - "veecle-os-data-support-can/src"
    - component_id: "can-support"
      paths:
        - "veecle-os-data-support-can-codegen"
        - "veecle-os-data-support-can-macros"
        - "veecle-os-data-support-can/tests"
    - component_id: "someip-core"
      paths:
        - "veecle-os-data-support-someip/src"
    - component_id: "someip-support"
      paths:
        - "veecle-os-data-support-someip-macros"
    - component_id: "support"
      paths:
        - "veecle-os-examples"
        - "veecle-os-test"
        - "veecle-telemetry-ui"
        - "veecle-telemetry-server"
        - "veecle-telemetry-server-protocol"
        - "veecle-os-runtime/tests"
    - component_id: "orchestrator-prototype"
      paths:
        - "veecle-ipc"
        - "veecle-ipc-protocol"
        - "veecle-orchestrator"
        - "veecle-orchestrator-cli"
        - "veecle-orchestrator-protocol"

chore: migrate lint comments into the reason field (#171)
  someip-test-service/src/config/common_api.rs
  someip-test-service/src/config/vsomeip.rs
  someip-test-service/src/ipc.rs
  veecle-orchestrator/src/runtime/conductor/state.rs
  veecle-os-data-support-can-codegen/tests/generate.rs
  veecle-os-data-support-can-codegen/tests/j1939-roundtrip.rs
  veecle-os-data-support-can/tests/serialization.rs
  veecle-os-runtime/src/actor.rs
  veecle-os-runtime/src/execute.rs
  veecle-os-runtime/src/heapfree_executor.rs
  veecle-osal-api/src/time/mod.rs
  veecle-osal-api/src/time/timeout.rs
  veecle-telemetry-ui/src/connection/websocket.rs
  workspace/tests/checks.rs
Due: main, can-support, support, orchestrator-prototype

chore: add minimize-old-claude-comments job
  .github/workflows/claude-review.yml
Due: none

chore: apply line lengths to specific file types
  .editorconfig
Due: none

chore: move editorconfig-checker settings into a config file
  .editorconfig-checker.json
  .github/workflows/validate.yaml
Due: none

chore: regenerate exemptions
  supply-chain/config.toml
Due: none

chore: bump wasm_bindgen version
  veecle-telemetry-ui/Trunk.toml
Due: support

chore: move editorconfig-checker settings into a config file and apply line lengths to specific file types (#173)
  .editorconfig
  .editorconfig-checker.json
  .github/workflows/validate.yaml
Due: none

chore: add minimize-old-claude-comments job (#172)
  .github/workflows/claude-review.yml
Due: none

wip
  veecle-os-examples/std/src/bin/time.rs
  veecle-os-runtime/src/datastore/slot/slot.rs
  veecle-os-runtime/src/execute.rs
  veecle-os-runtime/src/find.rs
  veecle-os-runtime/src/lib.rs
Due: main, support

wip
  veecle-os-examples/std/src/bin/time.rs
  veecle-os-runtime/src/actor.rs
  veecle-os-runtime/src/datastore/generational.rs
  veecle-os-runtime/src/execute.rs
  veecle-os-runtime/src/find.rs
  veecle-os-runtime/src/lib.rs
Due: main, support

wip: somewhat working?
  veecle-os-runtime/src/actor.rs
  veecle-os-runtime/src/execute.rs
  veecle-os-runtime/src/find.rs
Due: main

wip
  veecle-os-examples/std/src/bin/time.rs
  veecle-os-runtime/src/execute.rs
  veecle-os-runtime/src/find.rs
Due: main, support

fix(telemetry-ui): Prevent tooltip flickering on spans with long names
  veecle-telemetry-ui/src/ui/timeline/traces.rs
Due: support

refactor: make raw thread id publicly available (#163)
  veecle-telemetry/src/protocol.rs
Due: none

fix(telemetry-ui): Prevent tooltip flickering on spans with long names (#167)
  veecle-telemetry-ui/src/ui/timeline/traces.rs
Due: support

chore: update flake to nixos 25.11
  flake.lock
  flake.nix
  shell.nix
Due: none

chore: update flake to nixos 25.11 (#176)
  flake.lock
  flake.nix
  shell.nix
Due: none

wip: still not dead code eliminated, but `Pin` actually seems to blame
  veecle-os-runtime/src/actor.rs
  veecle-os-runtime/src/execute.rs
  veecle-os-runtime/src/find.rs
Due: main

Wip: now with less Pin and more unsafe
  veecle-os-runtime/src/find.rs
Due: main

refactor(ipc)!: separate jsonl protocol encoding
  Cargo.lock
  Cargo.toml
  veecle-ipc-protocol/Cargo.toml
  veecle-ipc-protocol/src/jsonl.rs
  veecle-ipc-protocol/src/lib.rs
  veecle-ipc/Cargo.toml
  veecle-ipc/src/jsonl/actors/control.rs
  veecle-ipc/src/jsonl/actors/input.rs
  veecle-ipc/src/jsonl/actors/mod.rs
  veecle-ipc/src/jsonl/actors/output.rs
  veecle-ipc/src/jsonl/connector.rs
  veecle-ipc/src/jsonl/mod.rs
  veecle-ipc/src/jsonl/telemetry.rs
  veecle-ipc/src/lib.rs
  veecle-ipc/tests/send_policy.rs
  veecle-orchestrator/Cargo.toml
  veecle-orchestrator/src/runtime/instance.rs
  veecle-os-examples/orchestrator-ipc/Cargo.toml
  veecle-os-examples/orchestrator-ipc/src/bin/ping.rs
  veecle-os-examples/orchestrator-ipc/src/bin/pong.rs
  veecle-os-examples/orchestrator-ipc/src/bin/trace.rs
  veecle-os-examples/orchestrator-ipc/src/bin/useless-machine.rs
Due: support, orchestrator-prototype

wip: iceoryx2
  Cargo.lock
  veecle-ipc-protocol/Cargo.toml
  veecle-ipc-protocol/src/lib.rs
  veecle-ipc/Cargo.toml
  veecle-ipc/src/iceoryx2/actors/control.rs
  veecle-ipc/src/iceoryx2/actors/input.rs
  veecle-ipc/src/iceoryx2/actors/mod.rs
  veecle-ipc/src/iceoryx2/actors/output.rs
  veecle-ipc/src/iceoryx2/mod.rs
  veecle-ipc/src/iceoryx2/telemetry.rs
  veecle-ipc/src/jsonl/mod.rs
  veecle-ipc/src/lib.rs
  veecle-orchestrator/Cargo.toml
  veecle-orchestrator/src/runtime/instance.rs
  veecle-os-examples/common/Cargo.lock
  veecle-os-examples/common/Cargo.toml
  veecle-os-examples/common/src/actors/ping_pong.rs
  veecle-os-examples/embassy-std/Cargo.lock
  veecle-os-examples/embassy-stm32/Cargo.lock
  veecle-os-examples/freertos-linux/Cargo.lock
  veecle-os-examples/freertos-stm32/Cargo.lock
  veecle-os-examples/orchestrator-ipc/Cargo.lock
  veecle-os-examples/orchestrator-ipc/Cargo.toml
  veecle-os-examples/orchestrator-ipc/run.sh
  veecle-os-examples/orchestrator-ipc/src/bin/ping.rs
  veecle-os-examples/orchestrator-ipc/src/bin/pong.rs
  veecle-os-examples/orchestrator-ipc/src/bin/trace.rs
  veecle-os-examples/orchestrator-ipc/src/bin/useless-machine.rs
  veecle-os-examples/std/Cargo.lock
Due: support, orchestrator-prototype

wip: zerocopy control
  Cargo.lock
  veecle-ipc-protocol/Cargo.toml
  veecle-ipc-protocol/src/lib.rs
  veecle-ipc/src/iceoryx2/actors/control.rs
  veecle-ipc/src/lib.rs
  veecle-orchestrator/src/runtime/instance.rs
  veecle-os-examples/orchestrator-ipc/Cargo.lock
  veecle-os-examples/orchestrator-ipc/src/bin/useless-machine.rs
Due: support, orchestrator-prototype

wip
  veecle-os-runtime/src/execute.rs
  veecle-os-runtime/src/find.rs
Due: main

chore: update lockfiles and regenerate excemptions
  Cargo.lock
  supply-chain/config.toml
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-runtime-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-os-runtime-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-osal-std-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-osal-std-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/renamed-veecle-telemetry-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/veecle-os-crate/Cargo.lock
Due: main, std, someip-support

ci: remove dependabot auto-approval
  .github/workflows/dependabot.yaml
Due: none

ci: remove dependabot auto-approval (#178)
  .github/workflows/dependabot.yaml
Due: none

feat: add support for yoke to MemoryPool and SOME/IP
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/user-manual/crates/getting-started/Cargo.lock
  docs/user-manual/crates/traces-serialization/Cargo.lock
  supply-chain/config.toml
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-data-support-someip/Cargo.toml
  veecle-os-data-support-someip/src/header.rs
  veecle-os-data-support-someip/tests/move_between_actors.rs
  veecle-os-examples/common/Cargo.lock
  veecle-os-examples/embassy-std/Cargo.lock
  veecle-os-examples/embassy-stm32/Cargo.lock
  veecle-os-examples/freertos-linux/Cargo.lock
  veecle-os-examples/freertos-stm32/Cargo.lock
  veecle-os-examples/orchestrator-ipc/Cargo.lock
  veecle-os-examples/std/Cargo.lock
  veecle-os-runtime-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-os-runtime-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-runtime/Cargo.toml
  veecle-os-runtime/src/memory_pool.rs
  veecle-osal-std-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/veecle-os-crate/Cargo.lock
Due: main, std, someip-core, someip-support, support

feat: add support for yoke to MemoryPool and SOME/IP (#179)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/user-manual/crates/getting-started/Cargo.lock
  docs/user-manual/crates/traces-serialization/Cargo.lock
  supply-chain/config.toml
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-data-support-someip/Cargo.toml
  veecle-os-data-support-someip/src/header.rs
  veecle-os-data-support-someip/tests/move_between_actors.rs
  veecle-os-examples/common/Cargo.lock
  veecle-os-examples/embassy-std/Cargo.lock
  veecle-os-examples/embassy-stm32/Cargo.lock
  veecle-os-examples/freertos-linux/Cargo.lock
  veecle-os-examples/freertos-stm32/Cargo.lock
  veecle-os-examples/orchestrator-ipc/Cargo.lock
  veecle-os-examples/std/Cargo.lock
  veecle-os-runtime-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-os-runtime-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-runtime/Cargo.toml
  veecle-os-runtime/src/memory_pool.rs
  veecle-osal-std-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/veecle-os-crate/Cargo.lock
Due: main, std, someip-core, someip-support, support

fix!: make `SerializeExt::serialize` match its docs
  CHANGELOG.md
  veecle-os-data-support-someip-macros/src/lib.rs
  veecle-os-data-support-someip-macros/test-crates/auto-renamed-crate/src/lib.rs
  veecle-os-data-support-someip-macros/test-crates/veecle-os-crate/src/lib.rs
  veecle-os-data-support-someip/src/lib.rs
  veecle-os-data-support-someip/src/serialize.rs
Due: someip-core, someip-support

fix!: make `SerializeExt::serialize` match its docs (#180)
  CHANGELOG.md
  veecle-os-data-support-someip-macros/src/lib.rs
  veecle-os-data-support-someip-macros/test-crates/auto-renamed-crate/src/lib.rs
  veecle-os-data-support-someip-macros/test-crates/veecle-os-crate/src/lib.rs
  veecle-os-data-support-someip/src/lib.rs
  veecle-os-data-support-someip/src/serialize.rs
Due: someip-core, someip-support

feat: implement `serialize_with_serializable` for SOME/IP `Header`
  CHANGELOG.md
  veecle-os-data-support-someip/src/header.rs
Due: someip-core

feat: implement `serialize_with_serializable` for SOME/IP `Header` (#181)
  CHANGELOG.md
  veecle-os-data-support-someip/src/header.rs
Due: someip-core

feat(orchestrator): add process priority support for runtimes
  Cargo.lock
  Cargo.toml
  supply-chain/config.toml
  veecle-ipc-protocol/src/lib.rs
  veecle-orchestrator-cli/Cargo.toml
  veecle-orchestrator-cli/src/lib.rs
  veecle-orchestrator-protocol/Cargo.toml
  veecle-orchestrator-protocol/src/lib.rs
  veecle-orchestrator/Cargo.toml
  veecle-orchestrator/README.md
  veecle-orchestrator/src/api.rs
  veecle-orchestrator/src/runtime/conductor/actor.rs
  veecle-orchestrator/src/runtime/conductor/state.rs
  veecle-orchestrator/src/runtime/instance.rs
  veecle-os-examples/orchestrator-ipc/run.sh
Due: support, orchestrator-prototype

feat(orchestrator): add process priority support for runtimes (#182)
  Cargo.lock
  Cargo.toml
  supply-chain/config.toml
  veecle-ipc-protocol/src/lib.rs
  veecle-orchestrator-cli/Cargo.toml
  veecle-orchestrator-cli/src/lib.rs
  veecle-orchestrator-protocol/Cargo.toml
  veecle-orchestrator-protocol/src/lib.rs
  veecle-orchestrator/Cargo.toml
  veecle-orchestrator/README.md
  veecle-orchestrator/src/api.rs
  veecle-orchestrator/src/runtime/conductor/actor.rs
  veecle-orchestrator/src/runtime/conductor/state.rs
  veecle-orchestrator/src/runtime/instance.rs
  veecle-os-examples/orchestrator-ipc/run.sh
Due: support, orchestrator-prototype
