Repository veecle/veecle-os: changes, and which Codecov flags are due for each by the changed paths.
All: main, freertos, std, can-core, can-support, someip-core, someip-support, support, orchestrator-prototype

refactor(runtime): remove explicit root span
  veecle-os-runtime/src/execute.rs
Due: main

refactor(telemetry)!: replace `TraceId` with `ProcessId` for span identification
  CHANGELOG.md
  veecle-ipc/src/telemetry.rs
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry/examples/async.rs
  veecle-telemetry/examples/basic.rs
  veecle-telemetry/src/collector/mod.rs
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/lib.rs
  veecle-telemetry/src/log.rs
  veecle-telemetry/src/macros.rs
  veecle-telemetry/src/protocol.rs
  veecle-telemetry/src/span.rs
  veecle-telemetry/src/test_helpers.rs
  veecle-telemetry/tests/lib.rs
Due: support, orchestrator-prototype

feat(telemetry)!: add `Span::context` method
  CHANGELOG.md
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/span.rs
Due: none

feat(telemetry): implement custom serialization for telemetry ids
  CHANGELOG.md
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/protocol.rs
  veecle-telemetry/src/test_helpers.rs
  veecle-telemetry/tests/lib.rs
Due: none

refactor(runtime): pass span context explicitly in datastore operations
  veecle-os-runtime/src/datastore/exclusive_reader.rs
  veecle-os-runtime/src/datastore/slot/slot.rs
  veecle-os-runtime/src/datastore/slot/waiter.rs
  veecle-os-runtime/src/datastore/writer.rs
Due: main

refactor(telemetry): remove thread-local current span tracking
  veecle-ipc/src/telemetry.rs
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/log.rs
  veecle-telemetry/src/protocol.rs
  veecle-telemetry/src/span.rs
  veecle-telemetry/src/test_helpers.rs
Due: support, orchestrator-prototype

fix: improve GHA condition layouts
  .github/workflows/claude-review.yml
  .github/workflows/claude.yml
Due: none

fix: use non-visual indent for multiline command args
  .github/workflows/release.yaml
Due: none

ci: enable editorconfig indent-size checking
  .github/workflows/validate.yaml
Due: none

fix: remove markdown indent-size setting
  .editorconfig
Due: none

fix: indentation in non-auto-formatted rust code
  veecle-os-data-support-can/tests/serialization.rs
  veecle-os-data-support-can/tests/validation.rs
  veecle-os-runtime-macros/src/actor.rs
Due: can-support

chore: ignore coverage data for test code
  CONTRIBUTING.md
  veecle-ipc/src/lib.rs
  veecle-ipc/src/telemetry.rs
  veecle-net-utils/src/address.rs
  veecle-net-utils/src/async_io.rs
  veecle-net-utils/src/blocking.rs
  veecle-net-utils/src/lib.rs
  veecle-os-data-support-can/src/bits.rs
  veecle-os-data-support-can/src/frame.rs
  veecle-os-data-support-can/src/id.rs
  veecle-os-data-support-can/src/lib.rs
  veecle-os-data-support-someip/src/lib.rs
  veecle-os-runtime-macros/src/lib.rs
  veecle-os-runtime/src/actor.rs
  veecle-os-runtime/src/datastore/combined_readers.rs
  veecle-os-runtime/src/datastore/exclusive_reader.rs
  veecle-os-runtime/src/datastore/generational.rs
  veecle-os-runtime/src/datastore/initialized_reader.rs
  veecle-os-runtime/src/datastore/reader.rs
  veecle-os-runtime/src/datastore/writer.rs
  veecle-os-runtime/src/heapfree_executor.rs
  veecle-os-runtime/src/lib.rs
  veecle-os-runtime/src/memory_pool.rs
  veecle-os-test/src/execute.rs
  veecle-os-test/src/lib.rs
  veecle-osal-api/src/lib.rs
  veecle-osal-api/src/time/timeout.rs
  veecle-osal-std-macros/src/lib.rs
  veecle-telemetry/src/lib.rs
  veecle-telemetry/src/protocol.rs
Due: main, std, can-core, someip-core, support, orchestrator-prototype

chore: ignore coverage data for test code (#72)
  CONTRIBUTING.md
  veecle-ipc/src/lib.rs
  veecle-ipc/src/telemetry.rs
  veecle-net-utils/src/address.rs
  veecle-net-utils/src/async_io.rs
  veecle-net-utils/src/blocking.rs
  veecle-net-utils/src/lib.rs
  veecle-os-data-support-can/src/bits.rs
  veecle-os-data-support-can/src/frame.rs
  veecle-os-data-support-can/src/id.rs
  veecle-os-data-support-can/src/lib.rs
  veecle-os-data-support-someip/src/lib.rs
  veecle-os-runtime-macros/src/lib.rs
  veecle-os-runtime/src/actor.rs
  veecle-os-runtime/src/datastore/combined_readers.rs
  veecle-os-runtime/src/datastore/exclusive_reader.rs
  veecle-os-runtime/src/datastore/generational.rs
  veecle-os-runtime/src/datastore/initialized_reader.rs
  veecle-os-runtime/src/datastore/reader.rs
  veecle-os-runtime/src/datastore/writer.rs
  veecle-os-runtime/src/heapfree_executor.rs
  veecle-os-runtime/src/lib.rs
  veecle-os-runtime/src/memory_pool.rs
  veecle-os-test/src/execute.rs
  veecle-os-test/src/lib.rs
  veecle-osal-api/src/lib.rs
  veecle-osal-api/src/time/timeout.rs
  veecle-osal-std-macros/src/lib.rs
  veecle-telemetry/src/lib.rs
  veecle-telemetry/src/protocol.rs
Due: main, std, can-core, someip-core, support, orchestrator-prototype

refactor(orchestrator): use actor model for conductor
  veecle-orchestrator/src/api.rs
  veecle-orchestrator/src/conductor.rs
Due: orchestrator-prototype

chore: fix runtime telemetry messages
  veecle-os-runtime/src/datastore/exclusive_reader.rs
  veecle-os-runtime/src/datastore/initialized_reader.rs
  veecle-os-runtime/src/datastore/reader.rs
  veecle-os-runtime/src/datastore/writer.rs
Due: main

chore: fix runtime telemetry messages (#75)
  veecle-os-runtime/src/datastore/exclusive_reader.rs
  veecle-os-runtime/src/datastore/initialized_reader.rs
  veecle-os-runtime/src/datastore/reader.rs
  veecle-os-runtime/src/datastore/writer.rs
Due: main

fix(ci): enable editorconfig indent-size checking (#73)
  .editorconfig
  .github/workflows/claude-review.yml
  .github/workflows/claude.yml
  .github/workflows/release.yaml
  .github/workflows/validate.yaml
  veecle-os-data-support-can/tests/serialization.rs
  veecle-os-data-support-can/tests/validation.rs
  veecle-os-runtime-macros/src/actor.rs
Due: can-support

chore: block dependabot `embedded-io-*` updates
  .github/dependabot.yml
Due: none

chore: block dependabot `embedded-io-*` updates (#77)
  .github/dependabot.yml
Due: none

chore: disable `SpanId::next_span` when telemetry is disabled
  veecle-telemetry/src/id.rs
Due: none

refactor(runtime)!: remove `veecle-telemetry` feature flag
  CHANGELOG.md
  docs/user-manual/crates/getting-started/Cargo.lock
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-examples/embassy-stm32/Cargo.lock
  veecle-os-examples/freertos-stm32/Cargo.lock
  veecle-os-runtime-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-os-runtime-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-runtime/Cargo.toml
  veecle-os-runtime/README.md
  veecle-os-runtime/src/datastore/combined_readers.rs
  veecle-os-runtime/src/datastore/exclusive_reader.rs
  veecle-os-runtime/src/datastore/initialized_reader.rs
  veecle-os-runtime/src/datastore/reader.rs
  veecle-os-runtime/src/datastore/slot/slot.rs
  veecle-os-runtime/src/datastore/slot/waiter.rs
  veecle-os-runtime/src/datastore/writer.rs
  veecle-os-runtime/src/execute.rs
  veecle-os/Cargo.toml
  veecle-telemetry-ui/Cargo.toml
Due: main, someip-support, support

chore: make `Cargo.lock` changes not trigger codeowners
  .github/CODEOWNERS
Due: none

refactor(runtime)!: remove `veecle-telemetry` feature flag (#78)
  CHANGELOG.md
  docs/user-manual/crates/getting-started/Cargo.lock
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-examples/embassy-stm32/Cargo.lock
  veecle-os-examples/freertos-stm32/Cargo.lock
  veecle-os-runtime-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-os-runtime-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-runtime/Cargo.toml
  veecle-os-runtime/README.md
  veecle-os-runtime/src/datastore/combined_readers.rs
  veecle-os-runtime/src/datastore/exclusive_reader.rs
  veecle-os-runtime/src/datastore/initialized_reader.rs
  veecle-os-runtime/src/datastore/reader.rs
  veecle-os-runtime/src/datastore/slot/slot.rs
  veecle-os-runtime/src/datastore/slot/waiter.rs
  veecle-os-runtime/src/datastore/writer.rs
  veecle-os-runtime/src/execute.rs
  veecle-os/Cargo.toml
  veecle-telemetry-ui/Cargo.toml
  veecle-telemetry/src/id.rs
Due: main, someip-support, support

chore: make `Cargo.lock` changes not trigger codeowners (#79)
  .github/CODEOWNERS
Due: none

test(telemetry): verify output structure in trailing comma test
  Cargo.lock
  veecle-telemetry/Cargo.toml
  veecle-telemetry/tests/lib.rs
Due: none

feat(osal): add thread id query mechanism
  CHANGELOG.md
  veecle-osal-api/src/lib.rs
  veecle-osal-api/src/thread.rs
  veecle-osal-std/src/lib.rs
  veecle-osal-std/src/thread.rs
Due: main, std

feat(osal): add thread id query mechanism (#71)
  CHANGELOG.md
  veecle-osal-api/src/lib.rs
  veecle-osal-api/src/thread.rs
  veecle-osal-std/src/lib.rs
  veecle-osal-std/src/thread.rs
Due: main, std

refactor!: remove `telemetry` feature from `veecle-os`
  CHANGELOG.md
  veecle-ipc/Cargo.toml
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-examples/common/Cargo.toml
  veecle-os-examples/embassy-stm32/Cargo.lock
  veecle-os-examples/orchestrator-ipc/Cargo.toml
  veecle-os-runtime-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os/Cargo.toml
  veecle-os/src/lib.rs
Due: someip-support, support, orchestrator-prototype

refactor(orchestrator): use actor model for conductor (#74)
  veecle-orchestrator/src/api.rs
  veecle-orchestrator/src/conductor.rs
Due: orchestrator-prototype

chore: update MSRV to 1.90
  CHANGELOG.md
  Cargo.toml
  flake.lock
  rust-toolchain-nightly.toml
  rust-toolchain.toml
  veecle-os-runtime-macros/tests/ui/actor/private_actor.stderr
  veecle-os-runtime-macros/tests/ui/actor/return_int.stderr
  veecle-os-runtime-macros/tests/ui/actor/return_never.stderr
  veecle-os-runtime-macros/tests/ui/actor/return_ok_int.stderr
  veecle-os-runtime-macros/tests/ui/storable/unimplemented_debug.stderr
  veecle-osal-api/tests/ui/tcp_only_one_connection.stderr
Due: main

docs: remove `telemetry` feature from examples
  veecle-os-examples/common/Cargo.toml
  veecle-os-examples/common/src/actors/mod.rs
  veecle-os-examples/common/src/actors/ping_pong.rs
  veecle-os-examples/common/src/actors/time.rs
  veecle-os-examples/embassy-std/Cargo.toml
  veecle-os-examples/freertos-linux/Cargo.toml
  veecle-os-examples/orchestrator-ipc/Cargo.toml
  veecle-os-examples/std/Cargo.toml
Due: support

test(telemetry): verify output structure in trailing comma test (#82)
  Cargo.lock
  veecle-telemetry/Cargo.toml
  veecle-telemetry/tests/lib.rs
Due: none

refactor!: remove `telemetry` feature from `veecle-os` (#84)
  CHANGELOG.md
  veecle-ipc/Cargo.toml
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-examples/common/Cargo.toml
  veecle-os-examples/common/src/actors/mod.rs
  veecle-os-examples/common/src/actors/ping_pong.rs
  veecle-os-examples/common/src/actors/time.rs
  veecle-os-examples/embassy-std/Cargo.toml
  veecle-os-examples/embassy-stm32/Cargo.lock
  veecle-os-examples/freertos-linux/Cargo.toml
  veecle-os-examples/orchestrator-ipc/Cargo.toml
  veecle-os-examples/std/Cargo.toml
  veecle-os-runtime-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os/Cargo.toml
  veecle-os/src/lib.rs
Due: someip-support, support, orchestrator-prototype

feat(telemetry)!: add `Span::context` method (#83)
  CHANGELOG.md
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/span.rs
Due: none

refactor(orchestrator): split conductor module up
  veecle-orchestrator/src/api.rs
  veecle-orchestrator/src/conductor.rs
  veecle-orchestrator/src/main.rs
  veecle-orchestrator/src/runtime/conductor/actor.rs
  veecle-orchestrator/src/runtime/conductor/mod.rs
  veecle-orchestrator/src/runtime/conductor/state.rs
  veecle-orchestrator/src/runtime/instance.rs
  veecle-orchestrator/src/runtime/mod.rs
Due: orchestrator-prototype

chore: Add explicit MSRV policy
  README.md
Due: none

chore: update MSRV to 1.90 (#81)
  CHANGELOG.md
  Cargo.toml
  flake.lock
  rust-toolchain-nightly.toml
  rust-toolchain.toml
  veecle-os-runtime-macros/tests/ui/actor/private_actor.stderr
  veecle-os-runtime-macros/tests/ui/actor/return_int.stderr
  veecle-os-runtime-macros/tests/ui/actor/return_never.stderr
  veecle-os-runtime-macros/tests/ui/actor/return_ok_int.stderr
  veecle-os-runtime-macros/tests/ui/storable/unimplemented_debug.stderr
  veecle-osal-api/tests/ui/tcp_only_one_connection.stderr
Due: main

chore: apply breaking version bumps
  Cargo.toml
Due: none

Path conditions:
  main: any of: veecle-os-runtime/src, veecle-os-runtime/macros, veecle-osal-api, veecle-osal-std, veecle-osal-embassy, veecle-osal-freertos
  freertos: any of: veecle-osal-freertos
  std: any of: veecle-osal-std
  can-core: any of: veecle-os-data-support-can/src
  can-support: any of: veecle-os-data-support-can-codegen, veecle-os-data-support-can-macros, veecle-os-data-support-can/tests
  someip-core: any of: veecle-os-data-support-someip/src
  someip-support: any of: veecle-os-data-support-someip-macros
  support: any of: veecle-os-examples, veecle-os-test, veecle-telemetry-ui, veecle-telemetry-server, veecle-telemetry-server-protocol, veecle-os-runtime/tests
  orchestrator-prototype: any of: veecle-ipc, veecle-ipc-protocol, veecle-orchestrator, veecle-orchestrator-cli, veecle-orchestrator-protocol
