Repository veecle/veecle-os: changes, and which Codecov flags are due for each by the changed paths.
All: main, freertos, std, can-core, can-support, someip-core, someip-support, support, orchestrator-prototype

.codecov.yml:

component_management:
  individual_components:
    - component_id: "main"
      paths:
        - "veecle-os-runtime/src"
        - "veecle-os-runtime/macros"
        - "veecle-osal-api"
        - "veecle-osal-std"
        - "veecle-osal-embassy"
        - "veecle-osal-freertos"
    - component_id: "freertos"
      paths:
        - "veecle-osal-freertos"
    - component_id: "std"
      paths:
        - "veecle-osal-std"
    - component_id: "can-core"
      paths:
        - "veecle-os-data-support-can/src"
    - component_id: "can-support"
      paths:
        - "veecle-os-data-support-can-codegen"
        - "veecle-os-data-support-can-macros"
        - "veecle-os-data-support-can/tests"
    - component_id: "someip-core"
      paths:
        - "veecle-os-data-support-someip/src"
    - component_id: "someip-support"
      paths:
        - "veecle-os-data-support-someip-macros"
    - component_id: "support"
      paths:
        - "veecle-os-examples"
        - "veecle-os-test"
        - "veecle-telemetry-ui"
        - "veecle-telemetry-server"
        - "veecle-telemetry-server-protocol"
        - "veecle-os-runtime/tests"
    - component_id: "orchestrator-prototype"
      paths:
        - "veecle-ipc"
        - "veecle-ipc-protocol"
        - "veecle-orchestrator"
        - "veecle-orchestrator-cli"
        - "veecle-orchestrator-protocol"

refactor: remove `DatastoreExt` trait
  veecle-os-runtime/src/datastore/combine_readers.rs
  veecle-os-runtime/src/datastore/mod.rs
  veecle-os-runtime/src/datastore/mpsc/mod.rs
  veecle-os-runtime/src/datastore/mpsc/reader.rs
  veecle-os-runtime/src/datastore/mpsc/writer.rs
  veecle-os-runtime/src/datastore/single_writer/exclusive_reader.rs
  veecle-os-runtime/src/datastore/single_writer/reader.rs
  veecle-os-runtime/src/datastore/single_writer/writer.rs
Due: main

refactor: remove `DatastoreExt` trait (#258)
  veecle-os-runtime/src/datastore/combine_readers.rs
  veecle-os-runtime/src/datastore/mod.rs
  veecle-os-runtime/src/datastore/mpsc/mod.rs
  veecle-os-runtime/src/datastore/mpsc/reader.rs
  veecle-os-runtime/src/datastore/mpsc/writer.rs
  veecle-os-runtime/src/datastore/single_writer/exclusive_reader.rs
  veecle-os-runtime/src/datastore/single_writer/reader.rs
  veecle-os-runtime/src/datastore/single_writer/writer.rs
Due: main

chore: remove @arctic-alpaca from code owners
  .github/CODEOWNERS
Due: none

chore: update cargo llvm-cov
  .github/actions/setup-tools/action.yaml
Due: none

chore(temp): upload html report as artifact
  .github/workflows/coverage.yaml
Due: none

chore: update CI tools
  .github/actions/setup-tools/action.yaml
Due: none

chore: tombi format
  veecle-os-examples/embassy-stm32/Cargo.toml
  veecle-os-examples/freertos-linux/Cargo.toml
Due: support

chore: update CI tools (#263)
  .github/actions/setup-tools/action.yaml
  veecle-os-examples/embassy-stm32/Cargo.toml
  veecle-os-examples/freertos-linux/Cargo.toml
Due: support

wip: remove instrumentation
  veecle-os-runtime/src/datastore/mpsc/reader.rs
Due: main

fix: enable coverage for `#[instrument]` marked functions
  veecle-telemetry-macros/src/lib.rs
  veecle-telemetry/src/lib.rs
  veecle-telemetry/src/macro_helpers.rs
  veecle-telemetry/src/macros.rs
Due: none

chore: remove @arctic-alpaca from code owners (#259)
  .github/CODEOWNERS
Due: none

fix: enable coverage for `#[instrument]` marked functions (#264)
  veecle-telemetry-macros/src/lib.rs
  veecle-telemetry/src/lib.rs
  veecle-telemetry/src/macro_helpers.rs
  veecle-telemetry/src/macros.rs
Due: none

chore(deps): actually apply strum update
  Cargo.lock
  Cargo.toml
Due: none

chore(deps): include version number comment
  .github/workflows/coverage.yaml
  .github/workflows/deploy.yaml
  .github/workflows/validate.yaml
Due: none

chore(deps): apply breaking version bump dependabot failed with
  Cargo.lock
  Cargo.toml
Due: none

chore(deps): update wasm-bindgen for trunk
  veecle-telemetry-ui/Trunk.toml
Due: support

chore: update rust toolchains to `1.94`/`nightly-2026-03-19`
  CHANGELOG.md
  Cargo.toml
  flake.lock
  rust-toolchain-nightly.toml
  rust-toolchain.toml
  veecle-os-runtime-macros/tests/ui/storable/missing_derive.stderr
  veecle-osal-api/src/net/tcp.rs
  veecle-osal-api/src/net/udp.rs
Due: main

chore: update rust toolchains to `1.94`/`nightly-2026-03-19` (#272)
  CHANGELOG.md
  Cargo.toml
  flake.lock
  rust-toolchain-nightly.toml
  rust-toolchain.toml
  veecle-os-runtime-macros/tests/ui/storable/missing_derive.stderr
  veecle-osal-api/src/net/tcp.rs
  veecle-osal-api/src/net/udp.rs
Due: main

feat: add `Flatten` trait for `Storable` elements
  veecle-os-runtime/src/datastore/storable.rs
Due: main

chore: make tests run project-wide
  veecle-os-data-support-can-codegen/src/generate/messages.rs
  veecle-os-data-support-can-codegen/tests/cases/CSS-Electronics-SAE-J1939-DEMO.rs
  veecle-os-data-support-can/src/frame.rs
  veecle-os-data-support-someip/tests/move_between_actors.rs
  veecle-os-runtime-macros/src/storable.rs
  veecle-os-runtime-macros/tests/ui/storable/renamed_crate.rs
  veecle-os-runtime-macros/tests/ui/storable/unimplemented_debug.stderr
  veecle-os-runtime/src/datastore/mod.rs
  veecle-os-runtime/src/datastore/mpsc/reader.rs
  veecle-os-runtime/src/datastore/mpsc/slot.rs
  veecle-os-runtime/src/datastore/mpsc/writer.rs
  veecle-os-runtime/src/datastore/single_writer/writer.rs
  veecle-os-runtime/src/datastore/storable.rs
  veecle-os-runtime/src/lib.rs
  veecle-os-runtime/src/memory_pool.rs
  veecle-os-runtime/tests/execute_macro.rs
Due: main, can-core, can-support, support

chore: fix Tokio version mismatches
  Cargo.lock
  examples/embassy-stm32/Cargo.lock
  veecle-osal-std-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-osal-std-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/veecle-os-crate/Cargo.lock
Due: main, std

chore: update wasm_bindgen
  veecle-telemetry-ui/Trunk.toml
Due: support
