Repository veecle/veecle-os: changes, and which Codecov flags are due for each by the changed paths.
All: main, freertos, std, can-core, can-support, someip-core, someip-support, support, orchestrator-prototype

.codecov.yml:

component_management:
  individual_components:
    - component_id: "main"
      paths:
        - "veecle-os-runtime/src"
        - "veecle-os-runtime/macros"
        - "veecle-osal-api"
        - "veecle-osal-std"
        - "veecle-osal-embassy"
        - "veecle-osal-freertos"
    - component_id: "freertos"
      paths:
        - "veecle-osal-freertos"
    - component_id: "std"
      paths:
        - "veecle-osal-std"
    - component_id: "can-core"
      paths:
        - "veecle-os-data-support-can/src"
    - component_id: "can-support"
      paths:
        - "veecle-os-data-support-can-codegen"
        - "veecle-os-data-support-can-macros"
        - "veecle-os-data-support-can/tests"
    - component_id: "someip-core"
      paths:
        - "veecle-os-data-support-someip/src"
    - component_id: "someip-support"
      paths:
        - "veecle-os-data-support-someip-macros"
    - component_id: "support"
      paths:
        - "veecle-os-examples"
        - "veecle-os-test"
        - "veecle-telemetry-ui"
        - "veecle-telemetry-server"
        - "veecle-telemetry-server-protocol"
        - "veecle-os-runtime/tests"
    - component_id: "orchestrator-prototype"
      paths:
        - "veecle-ipc"
        - "veecle-ipc-protocol"
        - "veecle-orchestrator"
        - "veecle-orchestrator-cli"
        - "veecle-orchestrator-protocol"

chore: remove cargo-vet (#201)
  .github/actions/setup-tools/action.yaml
  .github/workflows/validate.yaml
  CONTRIBUTING.md
  README.md
  shell.nix
  supply-chain/README.md
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
  tombi.toml
  workspace/tests/checks.rs
Due: none

refactor(telemetry): fully split owned and transient protocol
  veecle-ipc-protocol/src/lib.rs
  veecle-ipc/src/telemetry.rs
  veecle-orchestrator/src/telemetry.rs
  veecle-os-examples/orchestrator-ipc/src/bin/useless-machine.rs
  veecle-telemetry-macros/src/lib.rs
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry/src/collector/mod.rs
  veecle-telemetry/src/collector/pretty_exporter.rs
  veecle-telemetry/src/collector/test_exporter.rs
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/lib.rs
  veecle-telemetry/src/log.rs
  veecle-telemetry/src/macros.rs
  veecle-telemetry/src/protocol.rs
  veecle-telemetry/src/protocol/base.rs
  veecle-telemetry/src/protocol/mod.rs
  veecle-telemetry/src/protocol/owned.rs
  veecle-telemetry/src/protocol/tests.rs
  veecle-telemetry/src/protocol/transient.rs
  veecle-telemetry/src/span.rs
  veecle-telemetry/src/test_helpers.rs
  veecle-telemetry/src/to_static.rs
  veecle-telemetry/src/types.rs
  veecle-telemetry/src/value.rs
  veecle-telemetry/tests/lib.rs
Due: support, orchestrator-prototype

refactor(telemetry): fully split owned and transient protocol (#202)
  veecle-ipc-protocol/src/lib.rs
  veecle-ipc/src/telemetry.rs
  veecle-orchestrator/src/telemetry.rs
  veecle-os-examples/orchestrator-ipc/src/bin/useless-machine.rs
  veecle-telemetry-macros/src/lib.rs
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry/src/collector/mod.rs
  veecle-telemetry/src/collector/pretty_exporter.rs
  veecle-telemetry/src/collector/test_exporter.rs
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/lib.rs
  veecle-telemetry/src/log.rs
  veecle-telemetry/src/macros.rs
  veecle-telemetry/src/protocol.rs
  veecle-telemetry/src/protocol/base.rs
  veecle-telemetry/src/protocol/mod.rs
  veecle-telemetry/src/protocol/owned.rs
  veecle-telemetry/src/protocol/tests.rs
  veecle-telemetry/src/protocol/transient.rs
  veecle-telemetry/src/span.rs
  veecle-telemetry/src/test_helpers.rs
  veecle-telemetry/src/to_static.rs
  veecle-telemetry/src/types.rs
  veecle-telemetry/src/value.rs
  veecle-telemetry/tests/lib.rs
Due: support, orchestrator-prototype

fix: fix the ThreadId format serialization and improve id test coverage
  Cargo.lock
  veecle-telemetry/Cargo.toml
  veecle-telemetry/src/id.rs
Due: none

fix: fix the ThreadId format serialization and improve id test coverage (#205)
  Cargo.lock
  veecle-telemetry/Cargo.toml
  veecle-telemetry/src/id.rs
Due: none

ci: add automatic lockfile updating for dependabot PRs
  .github/workflows/dependabot-lockfiles.yaml
Due: none

ci: add automatic lockfile updating for dependabot PRs (#206)
  .github/workflows/dependabot-lockfiles.yaml
Due: none

fix: fix glob matching Cargo.lock files
  .github/workflows/dependabot-lockfiles.yaml
  Justfile
Due: none

chore: update lockfiles
  Cargo.lock
Due: none

fix: fix glob matching Cargo.lock files (#208)
  .github/workflows/dependabot-lockfiles.yaml
  Cargo.lock
  Justfile
Due: none

fix: prevent lockfile update workflow from completing on fail
  .github/workflows/dependabot-lockfiles.yaml
Due: none

fix: fix argument length error
  .github/workflows/dependabot-lockfiles.yaml
Due: none

fix: fix silent failure and argument list length (#210)
  .github/workflows/dependabot-lockfiles.yaml
Due: none

refactor: split collector module into separate files
  veecle-telemetry/src/collector/collector.rs
  veecle-telemetry/src/collector/global.rs
  veecle-telemetry/src/collector/mod.rs
Due: none

refactor: move timestamp collection into `Collector` methods
  veecle-telemetry/src/collector/collector.rs
  veecle-telemetry/src/log.rs
  veecle-telemetry/src/span.rs
Due: none

refactor: telemetry collector (#212)
  veecle-telemetry/src/collector/collector.rs
  veecle-telemetry/src/collector/global.rs
  veecle-telemetry/src/collector/mod.rs
  veecle-telemetry/src/log.rs
  veecle-telemetry/src/span.rs
Due: none

feat: add convenience methods to telemetry collector builder
  veecle-ipc/src/connector.rs
  veecle-os-examples/embassy-std/Cargo.lock
  veecle-os-examples/embassy-std/Cargo.toml
  veecle-os-examples/embassy-std/src/main.rs
  veecle-os-examples/freertos-linux/Cargo.lock
  veecle-os-examples/freertos-linux/Cargo.toml
  veecle-os-examples/freertos-linux/src/bin/alloc.rs
  veecle-os-examples/freertos-linux/src/bin/queues.rs
  veecle-os-examples/freertos-linux/src/bin/time.rs
  veecle-os-examples/orchestrator-ipc/src/bin/ping.rs
  veecle-os-examples/orchestrator-ipc/src/bin/pong.rs
  veecle-os-examples/orchestrator-ipc/src/bin/trace.rs
  veecle-os-examples/orchestrator-ipc/src/bin/useless-machine.rs
  veecle-osal-std-macros/src/main_impl.rs
  veecle-telemetry-ui/examples/continuous.rs
  veecle-telemetry-ui/examples/remote.rs
  veecle-telemetry/examples/async.rs
  veecle-telemetry/examples/basic.rs
  veecle-telemetry/src/collector/builder.rs
  veecle-telemetry/src/collector/json_exporter.rs
  veecle-telemetry/src/collector/pretty_exporter.rs
  veecle-telemetry/src/lib.rs
  veecle-telemetry/tests/lib.rs
Due: main, std, support, orchestrator-prototype

feat(telemetry-ui): Allow filtering by thread ids
  veecle-telemetry-ui/src/app.rs
  veecle-telemetry-ui/src/command.rs
  veecle-telemetry-ui/src/filter.rs
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry-ui/src/ui/filter_panel.rs
  veecle-telemetry-ui/src/ui/logs.rs
  veecle-telemetry-ui/src/ui/selection_panel.rs
  veecle-telemetry-ui/src/ui/timeline/mod.rs
  veecle-telemetry-ui/src/ui/timeline/traces.rs
Due: support

feat(telemetry-ui): Add remote_multithread example
  veecle-telemetry-ui/examples/remote_multithread.rs
Due: support

feat(telemetry-ui): Don't limit thread ID character count
  veecle-telemetry-ui/src/command.rs
  veecle-telemetry-ui/src/filter.rs
  veecle-telemetry-ui/src/ui/filter_panel.rs
  veecle-telemetry-ui/src/ui/logs.rs
Due: support

chore: update rfd to 0.17.1
  Cargo.lock
  Cargo.toml
Due: none

chore: update rfd to 0.17.1 (#216)
  Cargo.lock
  Cargo.toml
Due: none

chore: fix comment grammar
  veecle-telemetry-ui/src/ui/filter_panel.rs
Due: support

feat(telemetry-ui): Allow filtering by thread ids (#162)
  veecle-telemetry-ui/examples/remote_multithread.rs
  veecle-telemetry-ui/src/app.rs
  veecle-telemetry-ui/src/command.rs
  veecle-telemetry-ui/src/filter.rs
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry-ui/src/ui/filter_panel.rs
  veecle-telemetry-ui/src/ui/logs.rs
  veecle-telemetry-ui/src/ui/selection_panel.rs
  veecle-telemetry-ui/src/ui/timeline/mod.rs
  veecle-telemetry-ui/src/ui/timeline/traces.rs
Due: support

test: add explicit test for `Storable`s with same `DataType`
  veecle-os-runtime/tests/same_datatype_storables.rs
Due: support

feat: support any patterns for `#[actor]` arguments
  veecle-os-runtime-macros/src/actor.rs
  veecle-os-runtime-macros/tests/ui/actor/bad_argument_names.rs
  veecle-os-runtime-macros/tests/ui/actor/bad_argument_names.stderr
  veecle-os-runtime-macros/tests/ui/actor/patterns.rs
Due: none

test: add explicit test for `Storable`s with same `DataType` (#218)
  veecle-os-runtime/tests/same_datatype_storables.rs
Due: support

feat: support any patterns for `#[actor]` arguments (#219)
  veecle-os-runtime-macros/src/actor.rs
  veecle-os-runtime-macros/tests/ui/actor/bad_argument_names.rs
  veecle-os-runtime-macros/tests/ui/actor/bad_argument_names.stderr
  veecle-os-runtime-macros/tests/ui/actor/patterns.rs
Due: none

chore: fix compatibility with cmake 4.0+
  capicxx-someip-sys/build.rs
  someip-test-service-sys/build.rs
Due: none

refactor!: remove `data_type` attribute from `Storable` derive
  CHANGELOG.md
  docs/user-manual/crates/getting-started/src/main.rs
  docs/user-manual/crates/traces-serialization/src/main.rs
  veecle-os-data-support-someip/tests/move_between_actors.rs
  veecle-os-runtime-macros/src/lib.rs
  veecle-os-runtime-macros/src/storable.rs
  veecle-os-runtime-macros/tests/ui/storable/bad_data_type_string.rs
  veecle-os-runtime-macros/tests/ui/storable/bad_data_type_string.stderr
  veecle-os-runtime-macros/tests/ui/storable/data_type.rs
  veecle-os-runtime-macros/tests/ui/storable/data_type.stderr
  veecle-os-runtime-macros/tests/ui/storable/duplicate_data_type.rs
  veecle-os-runtime-macros/tests/ui/storable/duplicate_data_type.stderr
  veecle-os-runtime-macros/tests/ui/storable/generics.rs
  veecle-os-runtime-macros/tests/ui/storable/missing_import.rs
  veecle-os-runtime-macros/tests/ui/storable/missing_import.stderr
  veecle-os-runtime-macros/tests/ui/storable/renamed_crate.rs
  veecle-os-runtime-macros/tests/ui/storable/structs.rs
  veecle-os-runtime-macros/tests/ui/storable/unimplemented_debug.rs
  veecle-os-runtime-macros/tests/ui/storable/unimplemented_debug.stderr
  veecle-os-runtime/src/memory_pool.rs
  veecle-os-runtime/tests/memory_pool.rs
Due: main, support
