Repository veecle/veecle-os: changes, and which Codecov flags are due for each by the changed paths.
All: main, freertos, std, can-core, can-support, someip-core, someip-support, support, orchestrator-prototype

refactor!: remove `data_type` attribute from `Storable` derive (#222)
  CHANGELOG.md
  docs/user-manual/crates/getting-started/src/main.rs
  docs/user-manual/crates/traces-serialization/src/main.rs
  veecle-os-data-support-someip/tests/move_between_actors.rs
  veecle-os-runtime-macros/src/lib.rs
  veecle-os-runtime-macros/src/storable.rs
  veecle-os-runtime-macros/tests/ui/storable/bad_data_type_string.rs
  veecle-os-runtime-macros/tests/ui/storable/bad_data_type_string.stderr
  veecle-os-runtime-macros/tests/ui/storable/data_type.rs
  veecle-os-runtime-macros/tests/ui/storable/data_type.stderr
  veecle-os-runtime-macros/tests/ui/storable/duplicate_data_type.rs
  veecle-os-runtime-macros/tests/ui/storable/duplicate_data_type.stderr
  veecle-os-runtime-macros/tests/ui/storable/generics.rs
  veecle-os-runtime-macros/tests/ui/storable/missing_import.rs
  veecle-os-runtime-macros/tests/ui/storable/missing_import.stderr
  veecle-os-runtime-macros/tests/ui/storable/renamed_crate.rs
  veecle-os-runtime-macros/tests/ui/storable/structs.rs
  veecle-os-runtime-macros/tests/ui/storable/unimplemented_debug.rs
  veecle-os-runtime-macros/tests/ui/storable/unimplemented_debug.stderr
  veecle-os-runtime/src/memory_pool.rs
  veecle-os-runtime/tests/memory_pool.rs
Due: main, support

chore: fix compatibility with cmake 4.0+ (#221)
  capicxx-someip-sys/build.rs
  someip-test-service-sys/build.rs
Due: none

fix: wait for UDP endpoint to be ready in SOME/IP tests
  someip-test-service/src/main.rs
Due: none

fix: add timeout to wait_for_port_ready to prevent infinite hangs
  someip-test-service/src/main.rs
Due: none

fix: wait for UDP endpoint to be ready in SOME/IP tests (#224)
  someip-test-service/src/main.rs
Due: none

docs: document updating the readme example across breaking changes
  CONTRIBUTING.md
  README.md
Due: none

docs: document updating the readme example across breaking changes (#226)
  CONTRIBUTING.md
  README.md
Due: none

refactor!: auto-detect `Storables` from actors
  CHANGELOG.md
  veecle-os-runtime/src/actor.rs
  veecle-os-runtime/src/cons.rs
  veecle-os-runtime/src/execute.rs
  veecle-os-runtime/src/lib.rs
  veecle-os-test/src/execute.rs
Due: main, support

feat: include more context on store inconsistencies
  veecle-os-runtime/src/actor.rs
  veecle-os-runtime/src/execute.rs
  veecle-os-runtime/tests/execute_macro.rs
Due: main, support

fix: use `#[actor]` macro in veecle-os-test and support macro-passed types in it
  veecle-os-data-support-someip/tests/move_between_actors.rs
  veecle-os-runtime-macros/src/actor.rs
  veecle-os-runtime/tests/reader_writer.rs
  veecle-os-runtime/tests/same_datatype_storables.rs
  veecle-os-test/src/execute.rs
  veecle-os-test/src/lib.rs
Due: support

feat: include more context on store inconsistencies (#220)
  veecle-os-runtime/src/actor.rs
  veecle-os-runtime/src/execute.rs
  veecle-os-runtime/tests/execute_macro.rs
Due: main, support

fix: use `#[actor]` macro in veecle-os-test and support macro-passed types in it (#228)
  veecle-os-data-support-someip/tests/move_between_actors.rs
  veecle-os-runtime-macros/src/actor.rs
  veecle-os-runtime/tests/reader_writer.rs
  veecle-os-runtime/tests/same_datatype_storables.rs
  veecle-os-test/src/execute.rs
  veecle-os-test/src/lib.rs
Due: support

feat(veecle-orchestrator-cli): show progress bar for sending data
  Cargo.lock
  Cargo.toml
  veecle-orchestrator-cli/Cargo.toml
  veecle-orchestrator-cli/src/lib.rs
Due: orchestrator-prototype

refactor!: use shared variable for buf size in orchestrator cli
  veecle-orchestrator-cli/src/lib.rs
  veecle-orchestrator-protocol/src/lib.rs
  veecle-orchestrator/src/api.rs
Due: orchestrator-prototype

refactor: remove unnecessary `Datastore` impl
  veecle-os-runtime/src/actor.rs
Due: main

refactor: remove unnecessary `Datastore` impl (#231)
  veecle-os-runtime/src/actor.rs
Due: main

refactor: DefinesSlot defines the type of the slot
  veecle-os-runtime-macros/tests/ui/actor/renamed_crate.rs
  veecle-os-runtime/src/actor.rs
  veecle-os-runtime/src/datastore/mod.rs
  veecle-os-runtime/src/datastore/slot/mod.rs
  veecle-os-runtime/src/datastore/slot/slot.rs
  veecle-os-runtime/src/execute.rs
  veecle-os-runtime/src/lib.rs
Due: main

fix: fix Slot visibility
  veecle-os-runtime/src/datastore/mod.rs
  veecle-os-runtime/src/datastore/slot/mod.rs
  veecle-os-runtime/src/datastore/slot/slot.rs
  veecle-os-runtime/src/lib.rs
Due: main

refactor: allow different slot types
  veecle-os-runtime/src/actor.rs
  veecle-os-runtime/src/datastore/mod.rs
  veecle-os-runtime/src/datastore/slot/mod.rs
  veecle-os-runtime/src/datastore/slot/slot.rs
  veecle-os-runtime/src/execute.rs
Due: main

refactor: allow different slot types (#230)
  veecle-os-runtime-macros/tests/ui/actor/renamed_crate.rs
  veecle-os-runtime/src/actor.rs
  veecle-os-runtime/src/datastore/mod.rs
  veecle-os-runtime/src/datastore/slot/mod.rs
  veecle-os-runtime/src/datastore/slot/slot.rs
  veecle-os-runtime/src/execute.rs
Due: main

docs: document AppendCons limitations
  veecle-os-runtime/src/cons.rs
Due: main

docs: document AppendCons limitations (#232)
  veecle-os-runtime/src/cons.rs
Due: main

refactor!: use wrap_write for progress tracking in progress bar
  veecle-orchestrator-cli/src/lib.rs
Due: orchestrator-prototype

fix: restore type inference by using nested cons lists
  veecle-os-runtime/src/execute.rs
Due: main

fix: restore type inference by using nested cons lists (#233)
  veecle-os-runtime/src/execute.rs
Due: main

chore: update trunk config
  veecle-telemetry-ui/Trunk.toml
Due: support

refactor: simplify `IntoSlots` trait implementation
  veecle-os-runtime/src/execute.rs
Due: main

refactor: simplify `IntoSlots` trait implementation (#235)
  veecle-os-runtime/src/execute.rs
Due: main

refactor: move slot validation to SlotTrait
  veecle-os-runtime/src/datastore/mod.rs
  veecle-os-runtime/src/datastore/slot/slot.rs
  veecle-os-runtime/src/execute.rs
Due: main

refactor: move slot validation to SlotTrait (#236)
  veecle-os-runtime/src/datastore/mod.rs
  veecle-os-runtime/src/datastore/slot/slot.rs
  veecle-os-runtime/src/execute.rs
Due: main

refactor: simplify bounds on `ActorList` impl
  veecle-os-runtime/src/execute.rs
Due: main

fix: remove duplicated writer validation from Slot
  veecle-os-runtime/src/datastore/slot/slot.rs
Due: main

refactor: simplify bounds on `ActorList` impl (#237)
  veecle-os-runtime/src/execute.rs
Due: main

fix: remove duplicated writer validation from Slot (#238)
  veecle-os-runtime/src/datastore/slot/slot.rs
Due: main

refactor!: apply review comments
  Cargo.lock
  Cargo.toml
  veecle-orchestrator-cli/src/lib.rs
  veecle-orchestrator-protocol/src/lib.rs
Due: orchestrator-prototype

Path conditions:
  main: any of: veecle-os-runtime/src, veecle-os-runtime/macros, veecle-osal-api, veecle-osal-std, veecle-osal-embassy, veecle-osal-freertos
  freertos: any of: veecle-osal-freertos
  std: any of: veecle-osal-std
  can-core: any of: veecle-os-data-support-can/src
  can-support: any of: veecle-os-data-support-can-codegen, veecle-os-data-support-can-macros, veecle-os-data-support-can/tests
  someip-core: any of: veecle-os-data-support-someip/src
  someip-support: any of: veecle-os-data-support-someip-macros
  support: any of: veecle-os-examples, veecle-os-test, veecle-telemetry-ui, veecle-telemetry-server, veecle-telemetry-server-protocol, veecle-os-runtime/tests
  orchestrator-prototype: any of: veecle-ipc, veecle-ipc-protocol, veecle-orchestrator, veecle-orchestrator-cli, veecle-orchestrator-protocol
