Repository veecle/veecle-os: changes, and which Codecov flags are due for each by the changed paths.
All: main, freertos, std, can-core, can-support, someip-core, someip-support, support, orchestrator-prototype

.codecov.yml:

component_management:
  individual_components:
    - component_id: "main"
      paths:
        - "veecle-os-runtime/src"
        - "veecle-os-runtime/macros"
        - "veecle-osal-api"
        - "veecle-osal-std"
        - "veecle-osal-embassy"
        - "veecle-osal-freertos"
    - component_id: "freertos"
      paths:
        - "veecle-osal-freertos"
    - component_id: "std"
      paths:
        - "veecle-osal-std"
    - component_id: "can-core"
      paths:
        - "veecle-os-data-support-can/src"
    - component_id: "can-support"
      paths:
        - "veecle-os-data-support-can-codegen"
        - "veecle-os-data-support-can-macros"
        - "veecle-os-data-support-can/tests"
    - component_id: "someip-core"
      paths:
        - "veecle-os-data-support-someip/src"
    - component_id: "someip-support"
      paths:
        - "veecle-os-data-support-someip-macros"
    - component_id: "support"
      paths:
        - "veecle-os-examples"
        - "veecle-os-test"
        - "veecle-telemetry-ui"
        - "veecle-telemetry-server"
        - "veecle-telemetry-server-protocol"
        - "veecle-os-runtime/tests"
    - component_id: "orchestrator-prototype"
      paths:
        - "veecle-ipc"
        - "veecle-ipc-protocol"
        - "veecle-orchestrator"
        - "veecle-orchestrator-cli"
        - "veecle-orchestrator-protocol"

fix: resolve veecle_telemetry crate path automatically in instrument macro
  CHANGELOG.md
  Cargo.lock
  docs/user-manual/crates/getting-started/Cargo.lock
  docs/user-manual/crates/traces-serialization/Cargo.lock
  veecle-os-examples/common/Cargo.lock
  veecle-os-examples/embassy-std/Cargo.lock
  veecle-os-examples/freertos-linux/Cargo.lock
  veecle-os-examples/freertos-stm32/Cargo.lock
  veecle-os-examples/orchestrator-ipc/Cargo.lock
  veecle-os-examples/std/Cargo.lock
  veecle-osal-std-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-telemetry-macros/Cargo.toml
  veecle-telemetry-macros/src/lib.rs
  veecle-telemetry-macros/test-crates/README.md
  veecle-telemetry-macros/test-crates/renamed-veecle-telemetry-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/renamed-veecle-telemetry-crate/Cargo.toml
  veecle-telemetry-macros/test-crates/renamed-veecle-telemetry-crate/src/lib.rs
  veecle-telemetry-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/veecle-os-crate/Cargo.toml
  veecle-telemetry-macros/test-crates/veecle-os-crate/src/lib.rs
Due: main, std, support

fix: resolve veecle_telemetry crate path automatically in instrument macro (#51)
  CHANGELOG.md
  Cargo.lock
  docs/user-manual/crates/getting-started/Cargo.lock
  docs/user-manual/crates/traces-serialization/Cargo.lock
  veecle-os-examples/common/Cargo.lock
  veecle-os-examples/embassy-std/Cargo.lock
  veecle-os-examples/freertos-linux/Cargo.lock
  veecle-os-examples/freertos-stm32/Cargo.lock
  veecle-os-examples/orchestrator-ipc/Cargo.lock
  veecle-os-examples/std/Cargo.lock
  veecle-osal-std-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-telemetry-macros/Cargo.toml
  veecle-telemetry-macros/src/lib.rs
  veecle-telemetry-macros/test-crates/README.md
  veecle-telemetry-macros/test-crates/renamed-veecle-telemetry-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/renamed-veecle-telemetry-crate/Cargo.toml
  veecle-telemetry-macros/test-crates/renamed-veecle-telemetry-crate/src/lib.rs
  veecle-telemetry-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/veecle-os-crate/Cargo.toml
  veecle-telemetry-macros/test-crates/veecle-os-crate/src/lib.rs
Due: main, std, support

fix(orchestrator): send error response when AddWithBinary fails to add instance
  veecle-orchestrator/src/api.rs
Due: orchestrator-prototype

fix(orchestrator): send error response when `AddWithBinary` fails to add instance (#59)
  veecle-orchestrator/src/api.rs
Due: orchestrator-prototype

feat: add clear command to orchestrator and CLI
  veecle-orchestrator-cli/src/lib.rs
  veecle-orchestrator-protocol/src/lib.rs
  veecle-orchestrator/src/api.rs
  veecle-orchestrator/src/conductor.rs
  veecle-orchestrator/src/distributor.rs
  veecle-os-examples/orchestrator-ipc/run.sh
Due: support, orchestrator-prototype

chore: block dependabot `embedded-async-io` update
  .github/dependabot.yml
Due: none

chore: block dependabot `embedded-async-io` update (#61)
  .github/dependabot.yml
Due: none

chore: update lockfiles
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-runtime-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-os-runtime-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-osal-std-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/veecle-os-crate/Cargo.lock
Due: main, std, someip-support

chore: update supply chain exemptions
  supply-chain/config.toml
Due: none

feat: implement manual `Serialize`/`Deserialize` for CAN id types
  veecle-os-data-support-can/src/frame.rs
  veecle-os-data-support-can/src/id.rs
Due: can-core

WIP: reader/writer API RFC
  Reader-Writer.md
Due: none

feat: add clear command to orchestrator (#60)
  veecle-orchestrator-cli/src/lib.rs
  veecle-orchestrator-protocol/src/lib.rs
  veecle-orchestrator/src/api.rs
  veecle-orchestrator/src/conductor.rs
  veecle-orchestrator/src/distributor.rs
  veecle-os-examples/orchestrator-ipc/run.sh
Due: support, orchestrator-prototype

feat: implement manual `Serialize`/`Deserialize` for CAN id types (#63)
  veecle-os-data-support-can/src/frame.rs
  veecle-os-data-support-can/src/id.rs
Due: can-core

chore: enable `--version` flag for veecle-orchestrator{,-cli}
  veecle-orchestrator-cli/src/lib.rs
  veecle-orchestrator/src/main.rs
Due: orchestrator-prototype

chore: enable `--version` flag for `veecle-orchestrator{,-cli}` (#64)
  veecle-orchestrator-cli/src/lib.rs
  veecle-orchestrator/src/main.rs
Due: orchestrator-prototype

WIP: refine
  Reader-Writer.md
Due: none

ci: disable binary cache in `rust-cache`
  .github/workflows/coverage.yaml
  .github/workflows/deploy.yaml
  .github/workflows/validate.yaml
Due: none

docs: fix links
  docs/user-manual/src/telemetry.md
Due: none

chore: add missing crates to just `build-public-rustdoc` command
  Justfile
Due: none

ci: disable binary cache in `rust-cache` (#65)
  .github/workflows/coverage.yaml
  .github/workflows/deploy.yaml
  .github/workflows/validate.yaml
Due: none

docs: fix links (#66)
  Justfile
  docs/user-manual/src/telemetry.md
Due: none

feat(osal): add thread id query mechanism
  CHANGELOG.md
  veecle-osal-api/src/lib.rs
  veecle-osal-api/src/thread.rs
  veecle-osal-std/src/lib.rs
  veecle-osal-std/src/thread.rs
Due: main, std

refactor(telemetry)!: replace `TraceId` with `ProcessId` for span identification
  CHANGELOG.md
  veecle-ipc/src/telemetry.rs
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry/examples/async.rs
  veecle-telemetry/examples/basic.rs
  veecle-telemetry/src/collector/mod.rs
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/lib.rs
  veecle-telemetry/src/log.rs
  veecle-telemetry/src/macros.rs
  veecle-telemetry/src/protocol.rs
  veecle-telemetry/src/span.rs
  veecle-telemetry/src/test_helpers.rs
  veecle-telemetry/tests/lib.rs
Due: support, orchestrator-prototype

feat(telemetry)!: add `Span::context` method
  CHANGELOG.md
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/span.rs
Due: none

refactor(runtime): remove explicit root span
  veecle-os-runtime/src/execute.rs
Due: main

test(telemetry): verify output structure in trailing comma test
  Cargo.lock
  veecle-telemetry/Cargo.toml
  veecle-telemetry/tests/lib.rs
Due: none

refactor(telemetry): remove thread-local current span tracking
  veecle-ipc/src/telemetry.rs
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/log.rs
  veecle-telemetry/src/protocol.rs
  veecle-telemetry/src/span.rs
  veecle-telemetry/src/test_helpers.rs
Due: support, orchestrator-prototype

refactor(runtime): pass span context explicitly in datastore operations
  veecle-os-runtime/src/datastore/exclusive_reader.rs
  veecle-os-runtime/src/datastore/slot/slot.rs
  veecle-os-runtime/src/datastore/slot/waiter.rs
  veecle-os-runtime/src/datastore/writer.rs
Due: main

feat(telemetry)!: add thread id to execution id
  CHANGELOG.md
  veecle-ipc/src/connector.rs
  veecle-ipc/src/telemetry.rs
  veecle-os-examples/embassy-std/src/main.rs
  veecle-os-examples/freertos-linux/src/bin/alloc.rs
  veecle-os-examples/freertos-linux/src/bin/queues.rs
  veecle-os-examples/freertos-linux/src/bin/time.rs
  veecle-os-examples/orchestrator-ipc/src/bin/ping.rs
  veecle-os-examples/orchestrator-ipc/src/bin/pong.rs
  veecle-os-examples/orchestrator-ipc/src/bin/trace.rs
  veecle-osal-std-macros/src/main_impl.rs
  veecle-telemetry-ui/examples/continuous.rs
  veecle-telemetry-ui/examples/remote.rs
  veecle-telemetry/examples/async.rs
  veecle-telemetry/examples/basic.rs
  veecle-telemetry/src/collector/json_exporter.rs
  veecle-telemetry/src/collector/mod.rs
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/lib.rs
  veecle-telemetry/src/protocol.rs
  veecle-telemetry/tests/lib.rs
Due: main, std, support, orchestrator-prototype

feat(telemetry): implement custom serialization for telemetry ids
  CHANGELOG.md
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/protocol.rs
Due: none

chore: fix indent style, trailing whitespace, and final newline
  .editorconfig
  capicxx-someip-sys/README.md
  someip-test-service-macro/README.md
  someip-test-service-sys/Dockerfile
  someip-test-service-sys/README.md
  someip-test-service-sys/cpp/interface.hpp
  someip-test-service-sys/cpp/service/gen/v0/test/TestService.hpp
  someip-test-service-sys/cpp/service/gen/v0/test/TestServiceSomeIPStubAdapter.hpp
  someip-test-service-sys/cpp/service/gen/v0/test/TestServiceStubDefault.hpp
  someip-test-service-sys/cpp/service/src/lib.cpp
  someip-test-service-sys/cpp/service/src/manager.hpp
  someip-test-service-sys/cpp/service/src/utils.hpp
  someip-test-service-sys/cpp/service_stub/CMakeLists.txt
  someip-test-service-sys/cpp/service_stub/lib.cpp
  someip-test-service-sys/fidl/TestService.fdepl
  someip-test-service-sys/fidl/TestService.fidl
  someip-test-service-sys/tests/config/common_api.ini
  someip-test-service-sys/tests/config/vsomeip.json
  someip-test-service-tests/README.md
  veecle-os-data-support-can-codegen/tests/cases/CSS-Electronics-SAE-J1939-DEMO.dbc
  veecle-os-data-support-can-codegen/tests/cases/fragment.dbc
Due: can-support

chore: integrate editorconfig-checker in CI
  .github/actions/setup-tools/action.yaml
  .github/workflows/validate.yaml
  CONTRIBUTING.md
  shell.nix
Due: none

chore: remove user-specific gitignore entries
  .gitignore
  veecle-telemetry-ui/.gitignore
Due: support

chore: fix editorconfig violations and check in CI (#68)
  .editorconfig
  .github/actions/setup-tools/action.yaml
  .github/workflows/validate.yaml
  CONTRIBUTING.md
  capicxx-someip-sys/README.md
  shell.nix
  someip-test-service-macro/README.md
  someip-test-service-sys/Dockerfile
  someip-test-service-sys/README.md
  someip-test-service-sys/cpp/interface.hpp
  someip-test-service-sys/cpp/service/gen/v0/test/TestService.hpp
  someip-test-service-sys/cpp/service/gen/v0/test/TestServiceSomeIPStubAdapter.hpp
  someip-test-service-sys/cpp/service/gen/v0/test/TestServiceStubDefault.hpp
  someip-test-service-sys/cpp/service/src/lib.cpp
  someip-test-service-sys/cpp/service/src/manager.hpp
  someip-test-service-sys/cpp/service/src/utils.hpp
  someip-test-service-sys/cpp/service_stub/CMakeLists.txt
  someip-test-service-sys/cpp/service_stub/lib.cpp
  someip-test-service-sys/fidl/TestService.fdepl
  someip-test-service-sys/fidl/TestService.fidl
  someip-test-service-sys/tests/config/common_api.ini
  someip-test-service-sys/tests/config/vsomeip.json
  someip-test-service-tests/README.md
  veecle-os-data-support-can-codegen/tests/cases/CSS-Electronics-SAE-J1939-DEMO.dbc
  veecle-os-data-support-can-codegen/tests/cases/fragment.dbc
Due: can-support

chore: remove user-specific gitignore entries (#69)
  .gitignore
  veecle-telemetry-ui/.gitignore
Due: support

chore: update lockfiles
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-runtime-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-os-runtime-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-osal-std-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-osal-std-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/renamed-veecle-telemetry-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/veecle-os-crate/Cargo.lock
Due: main, std, someip-support

chore: regenerate exemptions
  supply-chain/config.toml
Due: none
