Repository veecle/veecle-os: changes, and which Codecov flags are due for each by the changed paths.
All: main, freertos, std, can-core, can-support, someip-core, someip-support, support, orchestrator-prototype

wip
  veecle-os-runtime/src/execute.rs
  veecle-os-runtime/src/find.rs
Due: main

refactor: use the builtin key-value formatting in tests
  veecle-telemetry/src/test_helpers.rs
  veecle-telemetry/tests/lib.rs
Due: none

refactor: use the builtin key-value formatting in tests (#184)
  veecle-telemetry/src/test_helpers.rs
  veecle-telemetry/tests/lib.rs
Due: none

feat!: defer value formatting to collectors for `no_std` support
  CHANGELOG.md
  docs/user-manual/crates/traces-serialization/tests/traces_serialization.rs
  veecle-ipc-protocol/src/lib.rs
  veecle-ipc/src/connector.rs
  veecle-ipc/src/telemetry.rs
  veecle-ipc/tests/send_policy.rs
  veecle-orchestrator/src/telemetry.rs
  veecle-os-examples/common/src/actors/time.rs
  veecle-os-runtime/src/datastore/exclusive_reader.rs
  veecle-os-runtime/src/datastore/initialized_reader.rs
  veecle-os-runtime/src/datastore/reader.rs
  veecle-os-runtime/src/datastore/slot/waiter.rs
  veecle-os-runtime/src/datastore/writer.rs
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry/src/collector/json_exporter.rs
  veecle-telemetry/src/collector/mod.rs
  veecle-telemetry/src/collector/pretty_exporter.rs
  veecle-telemetry/src/collector/test_exporter.rs
  veecle-telemetry/src/lib.rs
  veecle-telemetry/src/log.rs
  veecle-telemetry/src/macros.rs
  veecle-telemetry/src/protocol.rs
  veecle-telemetry/src/span.rs
  veecle-telemetry/src/test_helpers.rs
  veecle-telemetry/src/to_static.rs
  veecle-telemetry/src/value.rs
  veecle-telemetry/tests/lib.rs
Due: main, support, orchestrator-prototype

feat!: defer value formatting to collectors for `no_std` support (#183)
  CHANGELOG.md
  docs/user-manual/crates/traces-serialization/tests/traces_serialization.rs
  veecle-ipc-protocol/src/lib.rs
  veecle-ipc/src/connector.rs
  veecle-ipc/src/telemetry.rs
  veecle-ipc/tests/send_policy.rs
  veecle-orchestrator/src/telemetry.rs
  veecle-os-examples/common/src/actors/time.rs
  veecle-os-runtime/src/datastore/exclusive_reader.rs
  veecle-os-runtime/src/datastore/initialized_reader.rs
  veecle-os-runtime/src/datastore/reader.rs
  veecle-os-runtime/src/datastore/slot/waiter.rs
  veecle-os-runtime/src/datastore/writer.rs
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry/src/collector/json_exporter.rs
  veecle-telemetry/src/collector/mod.rs
  veecle-telemetry/src/collector/pretty_exporter.rs
  veecle-telemetry/src/collector/test_exporter.rs
  veecle-telemetry/src/lib.rs
  veecle-telemetry/src/log.rs
  veecle-telemetry/src/macros.rs
  veecle-telemetry/src/protocol.rs
  veecle-telemetry/src/span.rs
  veecle-telemetry/src/test_helpers.rs
  veecle-telemetry/src/to_static.rs
  veecle-telemetry/src/value.rs
  veecle-telemetry/tests/lib.rs
Due: main, support, orchestrator-prototype

wip(hack): disable telemetry time
  veecle-telemetry/src/lib.rs
  veecle-telemetry/src/protocol.rs
  veecle-telemetry/src/time.rs
Due: none

wip
  Cargo.lock
  Cargo.toml
  docs/user-manual/crates/getting-started/Cargo.lock
  docs/user-manual/crates/traces-serialization/Cargo.lock
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-examples/common/Cargo.lock
  veecle-os-examples/embassy-std/Cargo.lock
  veecle-os-examples/embassy-stm32/Cargo.lock
  veecle-os-examples/freertos-linux/Cargo.lock
  veecle-os-examples/freertos-stm32/Cargo.lock
  veecle-os-examples/orchestrator-ipc/Cargo.lock
  veecle-os-examples/std/Cargo.lock
  veecle-os-examples/std/src/bin/time.rs
  veecle-os-runtime-macros/src/lib.rs
  veecle-os-runtime-macros/src/store.rs
  veecle-os-runtime-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-os-runtime-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-runtime/src/actor.rs
  veecle-os-runtime/src/datastore/generational.rs
  veecle-os-runtime/src/datastore/mod.rs
  veecle-os-runtime/src/datastore/slot/mod.rs
  veecle-os-runtime/src/datastore/slot/slot.rs
  veecle-os-runtime/src/execute.rs
  veecle-os-runtime/src/lib.rs
  veecle-osal-std-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/veecle-os-crate/Cargo.lock
Due: main, std, someip-support, support

chore: regenerate exemptions
  supply-chain/config.toml
Due: none

chore: add test cases for duplicate and unknown attributes
  veecle-os-runtime-macros/tests/ui/storable/duplicate_data_type.rs
  veecle-os-runtime-macros/tests/ui/storable/duplicate_data_type.stderr
  veecle-os-runtime-macros/tests/ui/storable/unknown_attribute.rs
  veecle-os-runtime-macros/tests/ui/storable/unknown_attribute.stderr
Due: none

refactor(runtime-macros): replace `darling` with direct parsing
  Cargo.lock
  docs/user-manual/crates/getting-started/Cargo.lock
  docs/user-manual/crates/traces-serialization/Cargo.lock
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-examples/common/Cargo.lock
  veecle-os-examples/embassy-std/Cargo.lock
  veecle-os-examples/embassy-stm32/Cargo.lock
  veecle-os-examples/freertos-linux/Cargo.lock
  veecle-os-examples/freertos-stm32/Cargo.lock
  veecle-os-examples/orchestrator-ipc/Cargo.lock
  veecle-os-examples/std/Cargo.lock
  veecle-os-runtime-macros/Cargo.toml
  veecle-os-runtime-macros/src/lib.rs
  veecle-os-runtime-macros/src/storable.rs
  veecle-os-runtime-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-os-runtime-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-runtime-macros/tests/ui/storable/bad_renamed_crate.stderr
  veecle-os-runtime-macros/tests/ui/storable/duplicate_data_type.stderr
  veecle-os-runtime-macros/tests/ui/storable/unknown_attribute.stderr
  veecle-osal-std-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/veecle-os-crate/Cargo.lock
Due: main, std, someip-support, support

refactor(runtime-macros): replace `darling` with direct parsing (#189)
  Cargo.lock
  docs/user-manual/crates/getting-started/Cargo.lock
  docs/user-manual/crates/traces-serialization/Cargo.lock
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-examples/common/Cargo.lock
  veecle-os-examples/embassy-std/Cargo.lock
  veecle-os-examples/embassy-stm32/Cargo.lock
  veecle-os-examples/freertos-linux/Cargo.lock
  veecle-os-examples/freertos-stm32/Cargo.lock
  veecle-os-examples/orchestrator-ipc/Cargo.lock
  veecle-os-examples/std/Cargo.lock
  veecle-os-runtime-macros/Cargo.toml
  veecle-os-runtime-macros/src/lib.rs
  veecle-os-runtime-macros/src/storable.rs
  veecle-os-runtime-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-os-runtime-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-runtime-macros/tests/ui/storable/bad_renamed_crate.stderr
  veecle-os-runtime-macros/tests/ui/storable/duplicate_data_type.rs
  veecle-os-runtime-macros/tests/ui/storable/duplicate_data_type.stderr
  veecle-os-runtime-macros/tests/ui/storable/unknown_attribute.rs
  veecle-os-runtime-macros/tests/ui/storable/unknown_attribute.stderr
  veecle-osal-std-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/veecle-os-crate/Cargo.lock
Due: main, std, someip-support, support

fix(runtime-macros): disallow string literal syntax
  veecle-os-runtime-macros/src/lib.rs
  veecle-os-runtime-macros/src/storable.rs
  veecle-os-runtime-macros/tests/ui/storable/bad_data_type_string.rs
  veecle-os-runtime-macros/tests/ui/storable/bad_data_type_string.stderr
  veecle-os-runtime-macros/tests/ui/storable/bad_renamed_crate.rs
  veecle-os-runtime-macros/tests/ui/storable/bad_renamed_crate.stderr
  veecle-os-runtime-macros/tests/ui/storable/duplicate_data_type.rs
  veecle-os-runtime-macros/tests/ui/storable/duplicate_data_type.stderr
  veecle-os-runtime-macros/tests/ui/storable/generics.rs
  veecle-os-runtime-macros/tests/ui/storable/missing_import.rs
  veecle-os-runtime-macros/tests/ui/storable/missing_import.stderr
  veecle-os-runtime-macros/tests/ui/storable/renamed_crate.rs
  veecle-os-runtime-macros/tests/ui/storable/structs.rs
  veecle-os-runtime-macros/tests/ui/storable/unimplemented_debug.rs
  veecle-os-runtime-macros/tests/ui/storable/unimplemented_debug.stderr
Due: none

chore: update all usages to new storable macro syntax
  CHANGELOG.md
  docs/user-manual/crates/getting-started/src/main.rs
  docs/user-manual/crates/traces-serialization/src/main.rs
  veecle-os-data-support-someip/tests/move_between_actors.rs
  veecle-os-runtime/src/memory_pool.rs
  veecle-os-runtime/tests/memory_pool.rs
Due: main, support

fix(runtime-macros): disallow string literal syntax (#190)
  CHANGELOG.md
  docs/user-manual/crates/getting-started/src/main.rs
  docs/user-manual/crates/traces-serialization/src/main.rs
  veecle-os-data-support-someip/tests/move_between_actors.rs
  veecle-os-runtime-macros/src/lib.rs
  veecle-os-runtime-macros/src/storable.rs
  veecle-os-runtime-macros/tests/ui/storable/bad_data_type_string.rs
  veecle-os-runtime-macros/tests/ui/storable/bad_data_type_string.stderr
  veecle-os-runtime-macros/tests/ui/storable/bad_renamed_crate.rs
  veecle-os-runtime-macros/tests/ui/storable/bad_renamed_crate.stderr
  veecle-os-runtime-macros/tests/ui/storable/duplicate_data_type.rs
  veecle-os-runtime-macros/tests/ui/storable/duplicate_data_type.stderr
  veecle-os-runtime-macros/tests/ui/storable/generics.rs
  veecle-os-runtime-macros/tests/ui/storable/missing_import.rs
  veecle-os-runtime-macros/tests/ui/storable/missing_import.stderr
  veecle-os-runtime-macros/tests/ui/storable/renamed_crate.rs
  veecle-os-runtime-macros/tests/ui/storable/structs.rs
  veecle-os-runtime-macros/tests/ui/storable/unimplemented_debug.rs
  veecle-os-runtime-macros/tests/ui/storable/unimplemented_debug.stderr
  veecle-os-runtime/src/memory_pool.rs
  veecle-os-runtime/tests/memory_pool.rs
Due: main, support

chore: update readme to use new attribute syntax
  Cargo.lock
  README.md
  supply-chain/config.toml
Due: none

chore: update readme to use new attribute syntax (#191)
  Cargo.lock
  README.md
  supply-chain/config.toml
Due: none

refactor(workspace): run doc-tests per-crate for better isolation
  workspace/tests/checks.rs
Due: none

refactor(workspace): run `build-bins` per-crate for better isolation
  workspace/tests/checks.rs
Due: none

refactor(workspace): combine per-crate test loops
  workspace/tests/checks.rs
Due: none

ci: fix `veecle-os` vs `veecle_os`
  workspace/tests/checks.rs
Due: none

ci: move all someip tests to someip job
  .github/workflows/validate.yaml
Due: none

ci: move all someip tests to someip job (#192)
  .github/workflows/validate.yaml
  workspace/tests/checks.rs
Due: none

ci: update cargo-deny version
  .github/actions/setup-tools/action.yaml
Due: none

ci: update cargo-deny version (#194)
  .github/actions/setup-tools/action.yaml
Due: none

chore: update lockfiles and regenerate exemptions
  supply-chain/config.toml
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
Due: none

chore: remove unneeded ignored advisories and audits
  deny.toml
  supply-chain/audits.toml
Due: none

chore(deps): update lockfiles and regenerate exemptions
  Cargo.lock
  supply-chain/config.toml
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-runtime-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-os-runtime-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-osal-std-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-osal-std-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/renamed-veecle-telemetry-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/veecle-os-crate/Cargo.lock
Due: main, std, someip-support

chore: remove unneeded ignored advisories and audits (#195)
  deny.toml
  supply-chain/audits.toml
Due: none

chore: update rust toolchains
  CHANGELOG.md
  Cargo.toml
  flake.lock
  rust-toolchain-nightly.toml
  rust-toolchain.toml
Due: none

chore: update rust toolchains (#197)
  CHANGELOG.md
  Cargo.toml
  flake.lock
  rust-toolchain-nightly.toml
  rust-toolchain.toml
Due: none

chore: update lockfiles and exemptions
  Cargo.lock
  supply-chain/config.toml
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-examples/embassy-std/Cargo.lock
  veecle-os-examples/embassy-stm32/Cargo.lock
  veecle-os-runtime-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-os-runtime-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-osal-std-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-osal-std-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/renamed-veecle-telemetry-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/veecle-os-crate/Cargo.lock
Due: main, std, someip-support, support

chore!: update `embedded-io*` and `embassy-net`
  .github/dependabot.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/user-manual/crates/getting-started/Cargo.lock
  docs/user-manual/crates/traces-serialization/Cargo.lock
  supply-chain/config.toml
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-examples/common/Cargo.lock
  veecle-os-examples/common/Cargo.toml
  veecle-os-examples/embassy-std/Cargo.lock
  veecle-os-examples/embassy-stm32/Cargo.lock
  veecle-os-examples/embassy-stm32/Cargo.toml
  veecle-os-examples/freertos-linux/Cargo.lock
  veecle-os-examples/freertos-stm32/Cargo.lock
  veecle-os-examples/orchestrator-ipc/Cargo.lock
  veecle-os-examples/std/Cargo.lock
  veecle-os-runtime-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-osal-embassy/src/net/tcp.rs
  veecle-osal-std-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-osal-std-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-osal-std/src/net/tcp.rs
  veecle-telemetry-macros/test-crates/renamed-veecle-telemetry-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/veecle-os-crate/Cargo.lock
Due: main, std, someip-support, support

tests: fix embassy OSAL net tests
  veecle-osal-embassy/tests/net_utils/mod.rs
Due: main

chore!: update embedded-io* and embassy-net (#199)
  .github/dependabot.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/user-manual/crates/getting-started/Cargo.lock
  docs/user-manual/crates/traces-serialization/Cargo.lock
  supply-chain/config.toml
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-examples/common/Cargo.lock
  veecle-os-examples/common/Cargo.toml
  veecle-os-examples/embassy-std/Cargo.lock
  veecle-os-examples/embassy-stm32/Cargo.lock
  veecle-os-examples/embassy-stm32/Cargo.toml
  veecle-os-examples/freertos-linux/Cargo.lock
  veecle-os-examples/freertos-stm32/Cargo.lock
  veecle-os-examples/orchestrator-ipc/Cargo.lock
  veecle-os-examples/std/Cargo.lock
  veecle-os-runtime-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-osal-embassy/src/net/tcp.rs
  veecle-osal-embassy/tests/net_utils/mod.rs
  veecle-osal-std-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-osal-std-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-osal-std/src/net/tcp.rs
  veecle-telemetry-macros/test-crates/renamed-veecle-telemetry-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/veecle-os-crate/Cargo.lock
Due: main, std, someip-support, support

chore: update `embassy-stm32`
  veecle-os-examples/embassy-stm32/Cargo.lock
  veecle-os-examples/embassy-stm32/Cargo.toml
  veecle-os-examples/embassy-stm32/src/lib.rs
Due: support

chore: update `embassy-stm32` (#200)
  veecle-os-examples/embassy-stm32/Cargo.lock
  veecle-os-examples/embassy-stm32/Cargo.toml
  veecle-os-examples/embassy-stm32/src/lib.rs
Due: support

chore: update codeowners
  .github/CODEOWNERS
Due: none

chore: update codeowners (#203)
  .github/CODEOWNERS
Due: none

chore: remove cargo-vet
  .github/actions/setup-tools/action.yaml
  .github/workflows/validate.yaml
  CONTRIBUTING.md
  README.md
  shell.nix
  supply-chain/README.md
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
  tombi.toml
  workspace/tests/checks.rs
Due: none

Path conditions:
  main: any of: veecle-os-runtime/src, veecle-os-runtime/macros, veecle-osal-api, veecle-osal-std, veecle-osal-embassy, veecle-osal-freertos
  freertos: any of: veecle-osal-freertos
  std: any of: veecle-osal-std
  can-core: any of: veecle-os-data-support-can/src
  can-support: any of: veecle-os-data-support-can-codegen, veecle-os-data-support-can-macros, veecle-os-data-support-can/tests
  someip-core: any of: veecle-os-data-support-someip/src
  someip-support: any of: veecle-os-data-support-someip-macros
  support: any of: veecle-os-examples, veecle-os-test, veecle-telemetry-ui, veecle-telemetry-server, veecle-telemetry-server-protocol, veecle-os-runtime/tests
  orchestrator-prototype: any of: veecle-ipc, veecle-ipc-protocol, veecle-orchestrator, veecle-orchestrator-cli, veecle-orchestrator-protocol
