Repository veecle/veecle-os: changes, and which Codecov flags are due for each by the changed paths.
All: main, freertos, std, can-core, can-support, someip-core, someip-support, support, orchestrator-prototype

.codecov.yml:

component_management:
  individual_components:
    - component_id: "main"
      paths:
        - "veecle-os-runtime/src"
        - "veecle-os-runtime/macros"
        - "veecle-osal-api"
        - "veecle-osal-std"
        - "veecle-osal-embassy"
        - "veecle-osal-freertos"
    - component_id: "freertos"
      paths:
        - "veecle-osal-freertos"
    - component_id: "std"
      paths:
        - "veecle-osal-std"
    - component_id: "can-core"
      paths:
        - "veecle-os-data-support-can/src"
    - component_id: "can-support"
      paths:
        - "veecle-os-data-support-can-codegen"
        - "veecle-os-data-support-can-macros"
        - "veecle-os-data-support-can/tests"
    - component_id: "someip-core"
      paths:
        - "veecle-os-data-support-someip/src"
    - component_id: "someip-support"
      paths:
        - "veecle-os-data-support-someip-macros"
    - component_id: "support"
      paths:
        - "veecle-os-examples"
        - "veecle-os-test"
        - "veecle-telemetry-ui"
        - "veecle-telemetry-server"
        - "veecle-telemetry-server-protocol"
        - "veecle-os-runtime/tests"
    - component_id: "orchestrator-prototype"
      paths:
        - "veecle-ipc"
        - "veecle-ipc-protocol"
        - "veecle-orchestrator"
        - "veecle-orchestrator-cli"
        - "veecle-orchestrator-protocol"

feat(telemetry-ui): Increase outline stroke width to 2.5px
  veecle-telemetry-ui/src/ui/timeline/traces.rs
Due: support

feat(telemetry-ui): Center outline stroke on selected spans
  veecle-telemetry-ui/src/ui/timeline/traces.rs
Due: support

fix: decouple different ipc data channels (#101)
  veecle-ipc/Cargo.toml
  veecle-ipc/src/actors/output.rs
  veecle-ipc/src/connector.rs
  veecle-ipc/src/telemetry.rs
Due: orchestrator-prototype

fix: use tokio `Instant` to support paused runtime
  veecle-osal-std/src/time.rs
Due: main, std

fix: use tokio `Instant` to support paused runtime (#151)
  veecle-osal-std/src/time.rs
Due: main, std

chore: split (flaky) someip tests into separate job
  .github/workflows/validate.yaml
Due: none

chore: split (flaky) someip tests into separate job for coverage
  .github/workflows/coverage.yaml
  Justfile
Due: none

feat(telemetry-ui): Add outline highlighting for selected spans (#146)
  veecle-telemetry-ui/src/ui/timeline/traces.rs
Due: support

chore: split (flaky) someip tests into separate job (#152)
  .github/workflows/coverage.yaml
  .github/workflows/validate.yaml
  Justfile
Due: none

fix: hide `ConsoleJsonExporter` internals to allow future changes
  CHANGELOG.md
  veecle-os-examples/embassy-std/src/main.rs
  veecle-os-examples/freertos-linux/src/bin/alloc.rs
  veecle-os-examples/freertos-linux/src/bin/queues.rs
  veecle-os-examples/freertos-linux/src/bin/time.rs
  veecle-osal-std-macros/src/main_impl.rs
  veecle-telemetry-ui/examples/continuous.rs
  veecle-telemetry-ui/examples/remote.rs
  veecle-telemetry/examples/async.rs
  veecle-telemetry/examples/basic.rs
  veecle-telemetry/src/collector/json_exporter.rs
  veecle-telemetry/src/lib.rs
Due: main, std, support

chore: improve attribute formatting
  veecle-telemetry/src/collector/pretty_exporter.rs
  veecle-telemetry/src/value.rs
Due: none

fix: attach actor span to the entire actor future including init phase
  veecle-os-runtime/src/execute.rs
Due: main

feat: record latest value of orchestrator ipc for future links
  veecle-orchestrator/src/distributor.rs
  veecle-os-examples/orchestrator-ipc/run.sh
Due: support, orchestrator-prototype

fix: attach actor span to the entire actor future including init phase (#159)
  veecle-os-runtime/src/execute.rs
Due: main

Update veecle-orchestrator/src/distributor.rs
  veecle-orchestrator/src/distributor.rs
Due: orchestrator-prototype

feat(telemetry): add pretty printer exporter
  CHANGELOG.md
  veecle-telemetry/src/collector/mod.rs
  veecle-telemetry/src/collector/pretty_exporter.rs
  veecle-telemetry/src/value.rs
Due: none

refactor: improve pretty collector format (#107)
  veecle-telemetry/src/collector/pretty_exporter.rs
  veecle-telemetry/src/macros.rs
  veecle-telemetry/src/value.rs
Due: none

fix: rebase fixes
  veecle-telemetry/src/collector/pretty_exporter.rs
Due: none

feat(telemetry): add pretty printer exporter (#102)
  CHANGELOG.md
  veecle-telemetry/src/collector/mod.rs
  veecle-telemetry/src/collector/pretty_exporter.rs
  veecle-telemetry/src/macros.rs
  veecle-telemetry/src/value.rs
Due: none

docs: add example to readme
  Cargo.lock
  Cargo.toml
  README.md
  readme-example/Cargo.toml
  readme-example/src/lib.rs
Due: none

docs: add example to readme (#103)
  Cargo.lock
  Cargo.toml
  README.md
  readme-example/Cargo.toml
  readme-example/src/lib.rs
Due: none

feat(telemetry-ui): Allow filtering by thread ids
  veecle-telemetry-ui/src/app.rs
  veecle-telemetry-ui/src/command.rs
  veecle-telemetry-ui/src/filter.rs
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry-ui/src/ui/filter_panel.rs
  veecle-telemetry-ui/src/ui/logs.rs
  veecle-telemetry-ui/src/ui/selection_panel.rs
  veecle-telemetry-ui/src/ui/timeline/mod.rs
  veecle-telemetry-ui/src/ui/timeline/traces.rs
Due: support

feat(telemetry-ui): Add remote_multithread example
  veecle-telemetry-ui/examples/remote_multithread.rs
Due: support

refactor: make raw thread id publicly available
  veecle-telemetry/src/protocol.rs
Due: none

feat: update to `can-dbc` v8
  Cargo.lock
  Cargo.toml
  veecle-os-data-support-can-codegen/src/dbc_ext.rs
  veecle-os-data-support-can-codegen/src/generate/actors.rs
  veecle-os-data-support-can-codegen/src/generate/messages.rs
  veecle-os-data-support-can-codegen/src/generate/mod.rs
  veecle-os-data-support-can-codegen/src/lib.rs
  veecle-os-data-support-can-codegen/tests/cases/fragment.rs
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
Due: can-support

chore: disable editorconfig on generated code test files
  veecle-os-data-support-can-codegen/tests/cases/CSS-Electronics-SAE-J1939-DEMO.rs
  veecle-os-data-support-can-codegen/tests/cases/fragment.rs
  veecle-os-data-support-can-codegen/tests/cases/message-size.rs
  veecle-os-data-support-can-codegen/tests/generate.rs
Due: can-support

chore: remove outdated dependabot ignore
  .github/dependabot.yml
Due: none

chore: regenerate exemptions
  supply-chain/config.toml
Due: none

fix: hide `ConsoleJsonExporter` internals to allow future changes (#158)
  CHANGELOG.md
  veecle-os-examples/embassy-std/src/main.rs
  veecle-os-examples/freertos-linux/src/bin/alloc.rs
  veecle-os-examples/freertos-linux/src/bin/queues.rs
  veecle-os-examples/freertos-linux/src/bin/time.rs
  veecle-osal-std-macros/src/main_impl.rs
  veecle-telemetry-ui/examples/continuous.rs
  veecle-telemetry-ui/examples/remote.rs
  veecle-telemetry/examples/async.rs
  veecle-telemetry/examples/basic.rs
  veecle-telemetry/src/collector/json_exporter.rs
  veecle-telemetry/src/lib.rs
Due: main, std, support

feat: update to `can-dbc` v8 (#165)
  .github/dependabot.yml
  Cargo.lock
  Cargo.toml
  supply-chain/config.toml
  veecle-os-data-support-can-codegen/src/dbc_ext.rs
  veecle-os-data-support-can-codegen/src/generate/actors.rs
  veecle-os-data-support-can-codegen/src/generate/messages.rs
  veecle-os-data-support-can-codegen/src/generate/mod.rs
  veecle-os-data-support-can-codegen/src/lib.rs
  veecle-os-data-support-can-codegen/tests/cases/CSS-Electronics-SAE-J1939-DEMO.rs
  veecle-os-data-support-can-codegen/tests/cases/fragment.rs
  veecle-os-data-support-can-codegen/tests/cases/message-size.rs
  veecle-os-data-support-can-codegen/tests/generate.rs
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
Due: can-support

chore: update lockfiles
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
Due: none

fix(telemetry-ui): Prevent tooltip flickering on spans with long names
  veecle-telemetry-ui/src/ui/timeline/traces.rs
Due: support

chore: update lockfiles and regenerate exemptions
  supply-chain/config.toml
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-runtime-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-os-runtime-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-osal-std-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-osal-std-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/renamed-veecle-telemetry-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/veecle-os-crate/Cargo.lock
Due: main, std, someip-support

feat: provide runtime id via `veecle-ipc` API
  veecle-ipc/src/connector.rs
  veecle-orchestrator/src/runtime/instance.rs
  veecle-os-examples/orchestrator-ipc/run.sh
  veecle-os-examples/orchestrator-ipc/src/bin/useless-machine.rs
Due: support, orchestrator-prototype

feat: provide runtime id via `veecle-ipc` API (#170)
  veecle-ipc/src/connector.rs
  veecle-orchestrator/src/runtime/instance.rs
  veecle-os-examples/orchestrator-ipc/run.sh
  veecle-os-examples/orchestrator-ipc/src/bin/useless-machine.rs
Due: support, orchestrator-prototype

refactor(ipc)!: separate jsonl protocol encoding
  Cargo.lock
  Cargo.toml
  veecle-ipc-protocol/Cargo.toml
  veecle-ipc-protocol/src/jsonl.rs
  veecle-ipc-protocol/src/lib.rs
  veecle-ipc/Cargo.toml
  veecle-ipc/src/jsonl/actors/control.rs
  veecle-ipc/src/jsonl/actors/input.rs
  veecle-ipc/src/jsonl/actors/mod.rs
  veecle-ipc/src/jsonl/actors/output.rs
  veecle-ipc/src/jsonl/connector.rs
  veecle-ipc/src/jsonl/mod.rs
  veecle-ipc/src/jsonl/telemetry.rs
  veecle-ipc/src/lib.rs
  veecle-ipc/tests/send_policy.rs
  veecle-orchestrator/Cargo.toml
  veecle-orchestrator/src/runtime/instance.rs
  veecle-os-examples/orchestrator-ipc/Cargo.toml
  veecle-os-examples/orchestrator-ipc/src/bin/ping.rs
  veecle-os-examples/orchestrator-ipc/src/bin/pong.rs
  veecle-os-examples/orchestrator-ipc/src/bin/trace.rs
  veecle-os-examples/orchestrator-ipc/src/bin/useless-machine.rs
Due: support, orchestrator-prototype

wip: zerocopy control
  Cargo.lock
  veecle-ipc-protocol/Cargo.toml
  veecle-ipc-protocol/src/lib.rs
  veecle-ipc/src/iceoryx2/actors/control.rs
  veecle-ipc/src/lib.rs
  veecle-orchestrator/src/runtime/instance.rs
  veecle-os-examples/orchestrator-ipc/Cargo.lock
  veecle-os-examples/orchestrator-ipc/src/bin/useless-machine.rs
Due: support, orchestrator-prototype

wip: iceoryx2
  Cargo.lock
  veecle-ipc-protocol/Cargo.toml
  veecle-ipc-protocol/src/lib.rs
  veecle-ipc/Cargo.toml
  veecle-ipc/src/iceoryx2/actors/control.rs
  veecle-ipc/src/iceoryx2/actors/input.rs
  veecle-ipc/src/iceoryx2/actors/mod.rs
  veecle-ipc/src/iceoryx2/actors/output.rs
  veecle-ipc/src/iceoryx2/mod.rs
  veecle-ipc/src/iceoryx2/telemetry.rs
  veecle-ipc/src/jsonl/mod.rs
  veecle-ipc/src/lib.rs
  veecle-orchestrator/Cargo.toml
  veecle-orchestrator/src/runtime/instance.rs
  veecle-os-examples/common/Cargo.lock
  veecle-os-examples/common/Cargo.toml
  veecle-os-examples/common/src/actors/ping_pong.rs
  veecle-os-examples/embassy-std/Cargo.lock
  veecle-os-examples/embassy-stm32/Cargo.lock
  veecle-os-examples/freertos-linux/Cargo.lock
  veecle-os-examples/freertos-stm32/Cargo.lock
  veecle-os-examples/orchestrator-ipc/Cargo.lock
  veecle-os-examples/orchestrator-ipc/Cargo.toml
  veecle-os-examples/orchestrator-ipc/run.sh
  veecle-os-examples/orchestrator-ipc/src/bin/ping.rs
  veecle-os-examples/orchestrator-ipc/src/bin/pong.rs
  veecle-os-examples/orchestrator-ipc/src/bin/trace.rs
  veecle-os-examples/orchestrator-ipc/src/bin/useless-machine.rs
  veecle-os-examples/std/Cargo.lock
Due: support, orchestrator-prototype

chore: migrate lint comments into the reason field
  someip-test-service/src/config/common_api.rs
  someip-test-service/src/config/vsomeip.rs
  someip-test-service/src/ipc.rs
  veecle-orchestrator/src/runtime/conductor/state.rs
  veecle-os-data-support-can-codegen/tests/generate.rs
  veecle-os-data-support-can-codegen/tests/j1939-roundtrip.rs
  veecle-os-data-support-can/tests/serialization.rs
  veecle-os-runtime/src/actor.rs
  veecle-os-runtime/src/execute.rs
  veecle-os-runtime/src/heapfree_executor.rs
  veecle-osal-api/src/time/mod.rs
  veecle-osal-api/src/time/timeout.rs
  veecle-telemetry-ui/src/connection/websocket.rs
  workspace/tests/checks.rs
Due: main, can-support, support, orchestrator-prototype
