Repository veecle/veecle-os: changes, and which Codecov flags are due for each by the changed paths.
All: main, freertos, std, can-core, can-support, someip-core, someip-support, support, orchestrator-prototype

.codecov.yml:

component_management:
  individual_components:
    - component_id: "main"
      paths:
        - "veecle-os-runtime/src"
        - "veecle-os-runtime/macros"
        - "veecle-osal-api"
        - "veecle-osal-std"
        - "veecle-osal-embassy"
        - "veecle-osal-freertos"
    - component_id: "freertos"
      paths:
        - "veecle-osal-freertos"
    - component_id: "std"
      paths:
        - "veecle-osal-std"
    - component_id: "can-core"
      paths:
        - "veecle-os-data-support-can/src"
    - component_id: "can-support"
      paths:
        - "veecle-os-data-support-can-codegen"
        - "veecle-os-data-support-can-macros"
        - "veecle-os-data-support-can/tests"
    - component_id: "someip-core"
      paths:
        - "veecle-os-data-support-someip/src"
    - component_id: "someip-support"
      paths:
        - "veecle-os-data-support-someip-macros"
    - component_id: "support"
      paths:
        - "veecle-os-examples"
        - "veecle-os-test"
        - "veecle-telemetry-ui"
        - "veecle-telemetry-server"
        - "veecle-telemetry-server-protocol"
        - "veecle-os-runtime/tests"
    - component_id: "orchestrator-prototype"
      paths:
        - "veecle-ipc"
        - "veecle-ipc-protocol"
        - "veecle-orchestrator"
        - "veecle-orchestrator-cli"
        - "veecle-orchestrator-protocol"

Allow users to choose how to handle full buffer with SendPolicy
  veecle-ipc/src/actors/mod.rs
  veecle-ipc/src/actors/output.rs
  veecle-ipc/src/connector.rs
  veecle-ipc/src/lib.rs
Due: orchestrator-prototype

Add tests verifying send policies behavior
  veecle-ipc/tests/send_policy.rs
Due: orchestrator-prototype

chore: fixup minor nits
  veecle-ipc/src/actors/output.rs
  veecle-ipc/tests/send_policy.rs
Due: orchestrator-prototype

feat: generalize `OutputConfig` lifetime
  veecle-ipc/src/actors/output.rs
  veecle-ipc/src/lib.rs
Due: orchestrator-prototype

chore: fixup examples
  veecle-os-examples/orchestrator-ipc/src/bin/ping.rs
  veecle-os-examples/orchestrator-ipc/src/bin/pong.rs
Due: support

chore: update MSRV to 1.91 (#104)
  CHANGELOG.md
  Cargo.toml
  flake.lock
  rust-toolchain-nightly.toml
  rust-toolchain.toml
Due: none

chore: add dependabot ignore for can-dbc version
  .github/dependabot.yml
Due: none

chore: introduce test to show pretty collector format
  veecle-telemetry/src/collector/pretty_exporter.rs
  veecle-telemetry/src/macros.rs
Due: none

chore: pad time to reduce distraction
  veecle-telemetry/src/collector/pretty_exporter.rs
Due: none

chore: pad severity to ensure consistent length
  veecle-telemetry/src/collector/pretty_exporter.rs
Due: none

chore: regenerate exemptions
  supply-chain/config.toml
Due: none

chore: update from deprecated assert_cmd api
  docs/user-manual/crates/getting-started/tests/getting_started.rs
  docs/user-manual/crates/traces-serialization/tests/traces_serialization.rs
  veecle-os-examples/freertos-linux/tests/alloc.rs
  veecle-os-examples/freertos-linux/tests/queues.rs
  veecle-os-examples/freertos-linux/tests/time.rs
Due: support

chore: reformat inconsistent workspace dependency references
  docs/generate-markdown-index/Cargo.toml
  veecle-os-data-support-someip-macros/Cargo.toml
  veecle-os-runtime/Cargo.toml
  veecle-os-test/Cargo.toml
Due: someip-support, support

chore: remove unused dependency specifications
  Cargo.toml
Due: none

chore: add dependabot ignore for can-dbc version (#106)
  .github/dependabot.yml
Due: none

chore: cleanup dependencies (#108)
  Cargo.toml
  docs/generate-markdown-index/Cargo.toml
  veecle-os-data-support-someip-macros/Cargo.toml
  veecle-os-runtime/Cargo.toml
  veecle-os-test/Cargo.toml
Due: someip-support, support

chore: update lockfiles, regenerate exemptions, update trunk
  supply-chain/config.toml
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
  veecle-telemetry-ui/Trunk.toml
Due: support

feat(telemetry)!: replace execution id with thread id (#90)
  CHANGELOG.md
  veecle-ipc/src/connector.rs
  veecle-ipc/src/telemetry.rs
  veecle-os-examples/embassy-std/src/main.rs
  veecle-os-examples/freertos-linux/src/bin/alloc.rs
  veecle-os-examples/freertos-linux/src/bin/queues.rs
  veecle-os-examples/freertos-linux/src/bin/time.rs
  veecle-os-examples/orchestrator-ipc/src/bin/ping.rs
  veecle-os-examples/orchestrator-ipc/src/bin/pong.rs
  veecle-os-examples/orchestrator-ipc/src/bin/trace.rs
  veecle-os-examples/orchestrator-ipc/src/bin/useless-machine.rs
  veecle-osal-std-macros/src/main_impl.rs
  veecle-telemetry-ui/examples/continuous.rs
  veecle-telemetry-ui/examples/remote.rs
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry/examples/async.rs
  veecle-telemetry/examples/basic.rs
  veecle-telemetry/src/collector/json_exporter.rs
  veecle-telemetry/src/collector/mod.rs
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/lib.rs
  veecle-telemetry/src/protocol.rs
  veecle-telemetry/tests/lib.rs
Due: main, std, support, orchestrator-prototype

refactor(telemetry)!: replace `TraceId` with `ProcessId` for span identification
  veecle-ipc/src/telemetry.rs
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry/src/collector/mod.rs
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/lib.rs
  veecle-telemetry/src/log.rs
  veecle-telemetry/src/macros.rs
  veecle-telemetry/src/protocol.rs
  veecle-telemetry/src/span.rs
  veecle-telemetry/src/test_helpers.rs
  veecle-telemetry/tests/lib.rs
Due: support, orchestrator-prototype

refactor(telemetry)!: replace `TraceId` with `ProcessId` for span identification (#122)
  veecle-ipc/src/telemetry.rs
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry/src/collector/mod.rs
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/lib.rs
  veecle-telemetry/src/log.rs
  veecle-telemetry/src/macros.rs
  veecle-telemetry/src/protocol.rs
  veecle-telemetry/src/span.rs
  veecle-telemetry/src/test_helpers.rs
  veecle-telemetry/tests/lib.rs
Due: support, orchestrator-prototype

feat(telemetry): implement custom serialization for telemetry ids
  CHANGELOG.md
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/protocol.rs
  veecle-telemetry/src/test_helpers.rs
  veecle-telemetry/tests/lib.rs
Due: none

feat: use hex formatted ids in telemetry-ui
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry-ui/src/ui/selection_panel.rs
  veecle-telemetry-ui/src/ui/timeline/traces.rs
Due: support

Rename `InstanceMessage::thread` to `thread_id`
  veecle-ipc/src/telemetry.rs
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry/src/collector/mod.rs
  veecle-telemetry/src/protocol.rs
Due: support, orchestrator-prototype

chore!: rename `InstanceMessage::thread` to `thread_id` (#125)
  veecle-ipc/src/telemetry.rs
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry/src/collector/mod.rs
  veecle-telemetry/src/protocol.rs
Due: support, orchestrator-prototype

chore: run tombi in offline mode
  workspace/tests/checks.rs
Due: none

feat(telemetry): implement custom serialization for telemetry ids (#124)
  CHANGELOG.md
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry-ui/src/ui/selection_panel.rs
  veecle-telemetry-ui/src/ui/timeline/traces.rs
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/protocol.rs
  veecle-telemetry/src/test_helpers.rs
  veecle-telemetry/tests/lib.rs
Due: support

chore: run tombi in offline mode (#133)
  workspace/tests/checks.rs
Due: none

refactor(telemetry): remove thread-local current span tracking
  veecle-ipc/src/telemetry.rs
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/log.rs
  veecle-telemetry/src/protocol.rs
  veecle-telemetry/src/span.rs
  veecle-telemetry/src/test_helpers.rs
Due: support, orchestrator-prototype

feat: run sub-workspace tests using llvm-cov within coverage
  Justfile
Due: none

refactor(telemetry): remove thread-local current span tracking (#123)
  veecle-ipc/src/telemetry.rs
  veecle-telemetry-ui/src/store/mod.rs
  veecle-telemetry/src/id.rs
  veecle-telemetry/src/log.rs
  veecle-telemetry/src/protocol.rs
  veecle-telemetry/src/span.rs
  veecle-telemetry/src/test_helpers.rs
Due: support, orchestrator-prototype

feat(telemetry-ui): Gray out filtered spans instead of hiding them
  veecle-telemetry-ui/src/filter.rs
  veecle-telemetry-ui/src/ui/timeline/mod.rs
  veecle-telemetry-ui/src/ui/timeline/traces.rs
Due: support

chore: address review comments and use naming aligned with style guide
  veecle-ipc/src/actors/output.rs
  veecle-ipc/tests/send_policy.rs
Due: orchestrator-prototype

feat(telemetry-ui): Add outline highlighting for selected spans
  veecle-telemetry-ui/src/ui/timeline/traces.rs
Due: support

chore: rustfmt
  veecle-ipc/src/actors/output.rs
  veecle-ipc/tests/send_policy.rs
Due: orchestrator-prototype

fix(veecle-ipc): Add SendPolicy to prevent panic on full output channel (#100)
  veecle-ipc/src/actors/mod.rs
  veecle-ipc/src/actors/output.rs
  veecle-ipc/src/connector.rs
  veecle-ipc/src/lib.rs
  veecle-ipc/src/send_policy.rs
  veecle-ipc/tests/send_policy.rs
  veecle-os-examples/orchestrator-ipc/src/bin/ping.rs
  veecle-os-examples/orchestrator-ipc/src/bin/pong.rs
Due: support, orchestrator-prototype

fix: decouple different ipc data channels
  veecle-ipc/Cargo.toml
  veecle-ipc/src/actors/output.rs
  veecle-ipc/src/connector.rs
  veecle-ipc/src/telemetry.rs
Due: orchestrator-prototype

feat(telemetry-ui): Gray out filtered spans instead of hiding them (#145)
  veecle-telemetry-ui/src/filter.rs
  veecle-telemetry-ui/src/ui/timeline/mod.rs
  veecle-telemetry-ui/src/ui/timeline/traces.rs
Due: support

chore: update lockfiles, regenerate exemptions
  supply-chain/config.toml
  veecle-os-data-support-can/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-os-data-support-someip-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-os-runtime-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-os-runtime-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-osal-std-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-osal-std-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/renamed-veecle-telemetry-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/veecle-os-crate/Cargo.lock
Due: main, std, someip-support

feat(telemetry-ui): Use blue color for outline
  veecle-telemetry-ui/src/ui/timeline/traces.rs
Due: support
