Repository veecle/veecle-os: changes, and which Codecov flags are due for each by the changed paths.
All: main, freertos, std, can-core, can-support, someip-core, someip-support, support, orchestrator-prototype

.codecov.yml:

component_management:
  individual_components:
    - component_id: "main"
      paths:
        - "veecle-os-runtime/src"
        - "veecle-os-runtime/macros"
        - "veecle-osal-api"
        - "veecle-osal-std"
        - "veecle-osal-embassy"
        - "veecle-osal-freertos"
    - component_id: "freertos"
      paths:
        - "veecle-osal-freertos"
    - component_id: "std"
      paths:
        - "veecle-osal-std"
    - component_id: "can-core"
      paths:
        - "veecle-os-data-support-can/src"
    - component_id: "can-support"
      paths:
        - "veecle-os-data-support-can-codegen"
        - "veecle-os-data-support-can-macros"
        - "veecle-os-data-support-can/tests"
    - component_id: "someip-core"
      paths:
        - "veecle-os-data-support-someip/src"
    - component_id: "someip-support"
      paths:
        - "veecle-os-data-support-someip-macros"
    - component_id: "support"
      paths:
        - "veecle-os-examples"
        - "veecle-os-test"
        - "veecle-telemetry-ui"
        - "veecle-telemetry-server"
        - "veecle-telemetry-server-protocol"
        - "veecle-os-runtime/tests"
    - component_id: "orchestrator-prototype"
      paths:
        - "veecle-ipc"
        - "veecle-ipc-protocol"
        - "veecle-orchestrator"
        - "veecle-orchestrator-cli"
        - "veecle-orchestrator-protocol"

feat(veecle-orchestrator-cli): show progress bar for sending data (#229)
  Cargo.lock
  Cargo.toml
  veecle-orchestrator-cli/Cargo.toml
  veecle-orchestrator-cli/src/lib.rs
  veecle-orchestrator-protocol/src/lib.rs
  veecle-orchestrator/src/api.rs
Due: orchestrator-prototype

wip
  veecle-os-runtime-macros/src/actor.rs
  veecle-os-runtime-macros/tests/ui/actor/renamed_crate.rs
  veecle-os-runtime-macros/tests/ui/actor/unexpected_argument.rs
  veecle-os-runtime-macros/tests/ui/actor/unexpected_argument.stderr
  veecle-os-runtime/src/actor.rs
  veecle-os-runtime/src/lib.rs
Due: main

feat: use type system to check actor parameters
  veecle-os-runtime-macros/src/actor.rs
  veecle-os-runtime-macros/tests/ui/actor/unexpected_argument.rs
  veecle-os-runtime-macros/tests/ui/actor/unexpected_argument.stderr
  veecle-os-runtime/src/actor.rs
Due: main

fix: use correct receiver type
  veecle-telemetry-ui/src/app.rs
Due: support

feat: use type system to check actor parameters (#241)
  veecle-os-runtime-macros/src/actor.rs
  veecle-os-runtime-macros/tests/ui/actor/unexpected_argument.rs
  veecle-os-runtime-macros/tests/ui/actor/unexpected_argument.stderr
  veecle-os-runtime/src/actor.rs
Due: main

chore: bump bytes version
  Cargo.lock
  docs/user-manual/crates/getting-started/Cargo.lock
  docs/user-manual/crates/traces-serialization/Cargo.lock
  veecle-os-examples/embassy-std/Cargo.lock
  veecle-os-examples/freertos-linux/Cargo.lock
  veecle-os-examples/orchestrator-ipc/Cargo.lock
  veecle-os-examples/std/Cargo.lock
  veecle-osal-std-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-osal-std-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/veecle-os-crate/Cargo.lock
Due: main, std, support

chore: bump bytes version (#243)
  Cargo.lock
  docs/user-manual/crates/getting-started/Cargo.lock
  docs/user-manual/crates/traces-serialization/Cargo.lock
  veecle-os-examples/embassy-std/Cargo.lock
  veecle-os-examples/freertos-linux/Cargo.lock
  veecle-os-examples/orchestrator-ipc/Cargo.lock
  veecle-os-examples/std/Cargo.lock
  veecle-osal-std-macros/test-crates/auto-renamed-crate/Cargo.lock
  veecle-osal-std-macros/test-crates/veecle-os-crate/Cargo.lock
  veecle-telemetry-macros/test-crates/veecle-os-crate/Cargo.lock
Due: main, std, support

chore: update rust toolchains
  CHANGELOG.md
  Cargo.toml
  rust-toolchain-nightly.toml
  rust-toolchain.toml
Due: none

chore: update trybuild tests
  veecle-os-runtime-macros/tests/ui/actor/generic/lifetime.stderr
  veecle-os-runtime-macros/tests/ui/actor/return_int.stderr
  veecle-os-runtime-macros/tests/ui/actor/return_never.stderr
  veecle-os-runtime-macros/tests/ui/actor/return_nothing.stderr
  veecle-os-runtime-macros/tests/ui/actor/return_ok_int.stderr
  veecle-os-runtime-macros/tests/ui/actor/unexpected_argument.stderr
Due: none

chore: update flake inputs
  flake.lock
Due: none

chore: update rust toolchains (#244)
  CHANGELOG.md
  Cargo.toml
  flake.lock
  rust-toolchain-nightly.toml
  rust-toolchain.toml
  veecle-os-runtime-macros/tests/ui/actor/generic/lifetime.stderr
  veecle-os-runtime-macros/tests/ui/actor/return_int.stderr
  veecle-os-runtime-macros/tests/ui/actor/return_never.stderr
  veecle-os-runtime-macros/tests/ui/actor/return_nothing.stderr
  veecle-os-runtime-macros/tests/ui/actor/return_ok_int.stderr
  veecle-os-runtime-macros/tests/ui/actor/unexpected_argument.stderr
Due: none

chore: update `time` dependency to fix advisory
  veecle-os-examples/freertos-stm32/Cargo.lock
Due: support

chore: update `time` dependency to fix advisory (#248)
  veecle-os-examples/freertos-stm32/Cargo.lock
Due: support

docs: fix README example
  Cargo.lock
  README.md
  readme-example/Cargo.toml
Due: none

docs: update README workflow
  CONTRIBUTING.md
  README.md
Due: none

docs: fix README example (#247)
  CONTRIBUTING.md
  Cargo.lock
  README.md
  readme-example/Cargo.toml
Due: none

fix!: remove InitializedReader
  docs/user-manual/crates/getting-started/src/main.rs
  docs/user-manual/crates/traces-serialization/src/main.rs
  docs/user-manual/src/getting-started.md
  veecle-ipc/src/actors/control.rs
  veecle-ipc/src/actors/output.rs
  veecle-ipc/src/lib.rs
  veecle-os-data-support-can-codegen/src/generate/actors.rs
  veecle-os-data-support-can-codegen/tests/cases/CSS-Electronics-SAE-J1939-DEMO.rs
  veecle-os-examples/common/src/actors/ping_pong.rs
  veecle-os-examples/common/src/actors/time.rs
  veecle-os-examples/orchestrator-ipc/src/bin/useless-machine.rs
  veecle-os-runtime/src/actor.rs
  veecle-os-runtime/src/datastore/combined_readers.rs
  veecle-os-runtime/src/datastore/initialized_reader.rs
  veecle-os-runtime/src/datastore/mod.rs
  veecle-os-runtime/src/datastore/reader.rs
  veecle-os-runtime/src/execute.rs
  veecle-os-runtime/src/lib.rs
  veecle-os-runtime/tests/reader_writer.rs
  veecle-os-runtime/tests/tokio-runtime-actor.rs
  veecle-os-test/src/lib.rs
  veecle-telemetry-ui/examples/common/mod.rs
Due: main, can-support, support, orchestrator-prototype

feat!: add asynchronous read methods to Readers
  docs/user-manual/crates/getting-started/tests/getting_started.rs
  veecle-os-data-support-someip/tests/move_between_actors.rs
  veecle-os-examples/embassy-stm32/src/main.rs
  veecle-os-runtime-macros/tests/ui/actor/static_reference.rs
  veecle-os-runtime-macros/tests/ui/actor/unexpected_argument.stderr
  veecle-os-runtime/src/actor.rs
  veecle-os-runtime/src/datastore/combined_readers.rs
  veecle-os-runtime/src/datastore/exclusive_reader.rs
  veecle-os-runtime/src/datastore/generational.rs
  veecle-os-runtime/src/datastore/initialized_reader.rs
  veecle-os-runtime/src/datastore/reader.rs
  veecle-os-runtime/src/datastore/slot/waiter.rs
  veecle-os-runtime/src/execute.rs
  veecle-os-runtime/src/lib.rs
  veecle-os-runtime/tests/reader_writer.rs
  veecle-os-runtime/tests/sensor-actuator.rs
  veecle-os-test/src/execute.rs
  veecle-os-test/src/lib.rs
  veecle-osal-api/src/time/mod.rs
  veecle-telemetry-ui/examples/common/mod.rs
Due: main, support

chore: update changelog
  CHANGELOG.md
Due: none

fix: add tests
  veecle-os-runtime/src/datastore/combined_readers.rs
  veecle-os-runtime/src/datastore/exclusive_reader.rs
  veecle-os-runtime/src/datastore/reader.rs
Due: main

fix: update README example
  README.md
Due: none

feat!: add asynchronous read methods to Readers and remove `InitializedReader` (#246)
  CHANGELOG.md
  README.md
  docs/user-manual/crates/getting-started/src/main.rs
  docs/user-manual/crates/getting-started/tests/getting_started.rs
  docs/user-manual/crates/traces-serialization/src/main.rs
  docs/user-manual/src/getting-started.md
  veecle-ipc/src/actors/control.rs
  veecle-ipc/src/actors/output.rs
  veecle-ipc/src/lib.rs
  veecle-os-data-support-can-codegen/src/generate/actors.rs
  veecle-os-data-support-can-codegen/tests/cases/CSS-Electronics-SAE-J1939-DEMO.rs
  veecle-os-data-support-someip/tests/move_between_actors.rs
  veecle-os-examples/common/src/actors/ping_pong.rs
  veecle-os-examples/common/src/actors/time.rs
  veecle-os-examples/embassy-stm32/src/main.rs
  veecle-os-examples/orchestrator-ipc/src/bin/useless-machine.rs
  veecle-os-runtime-macros/tests/ui/actor/static_reference.rs
  veecle-os-runtime-macros/tests/ui/actor/unexpected_argument.stderr
  veecle-os-runtime/src/actor.rs
  veecle-os-runtime/src/datastore/combined_readers.rs
  veecle-os-runtime/src/datastore/exclusive_reader.rs
  veecle-os-runtime/src/datastore/generational.rs
  veecle-os-runtime/src/datastore/initialized_reader.rs
  veecle-os-runtime/src/datastore/mod.rs
  veecle-os-runtime/src/datastore/reader.rs
  veecle-os-runtime/src/datastore/slot/waiter.rs
  veecle-os-runtime/src/execute.rs
  veecle-os-runtime/src/lib.rs
  veecle-os-runtime/tests/reader_writer.rs
  veecle-os-runtime/tests/sensor-actuator.rs
  veecle-os-runtime/tests/tokio-runtime-actor.rs
  veecle-os-test/src/execute.rs
  veecle-os-test/src/lib.rs
  veecle-osal-api/src/time/mod.rs
  veecle-telemetry-ui/examples/common/mod.rs
Due: main, can-support, support, orchestrator-prototype

fix: update readme example
  README.md
Due: none

fix: adapt to `rand` changes
  veecle-telemetry/src/id.rs
Due: none

refactor: rename `Slots` and `IntoSlots`
  veecle-os-runtime/src/execute.rs
Due: main

refactor: rename `Slots` and `IntoSlots` (#250)
  veecle-os-runtime/src/execute.rs
Due: main

refactor!: refactor `Writer` API
  CHANGELOG.md
  veecle-os-runtime/src/datastore/single_writer/slot.rs
  veecle-os-runtime/src/datastore/single_writer/writer.rs
  veecle-os-test/src/execute.rs
Due: main, support

refactor!: add modification detection
  CHANGELOG.md
  veecle-os-runtime/src/datastore/mod.rs
  veecle-os-runtime/src/datastore/modify.rs
  veecle-os-runtime/src/datastore/single_writer/slot.rs
  veecle-os-runtime/src/datastore/single_writer/writer.rs
  veecle-os-runtime/src/lib.rs
  veecle-os-runtime/tests/reader_writer.rs
  veecle-os-test/src/execute.rs
Due: main, support

refactor!: refactor `Writer` API (#251)
  CHANGELOG.md
  veecle-os-runtime/src/datastore/mod.rs
  veecle-os-runtime/src/datastore/modify.rs
  veecle-os-runtime/src/datastore/single_writer/slot.rs
  veecle-os-runtime/src/datastore/single_writer/writer.rs
  veecle-os-runtime/src/lib.rs
  veecle-os-runtime/tests/reader_writer.rs
  veecle-os-test/src/execute.rs
Due: main, support

fix: remove superfluous `PhantomData`
  veecle-os-runtime/src/datastore/single_writer/exclusive_reader.rs
  veecle-os-runtime/src/datastore/single_writer/reader.rs
  veecle-os-runtime/src/datastore/single_writer/writer.rs
Due: main

fix: remove superfluous `PhantomData` (#252)
  veecle-os-runtime/src/datastore/single_writer/exclusive_reader.rs
  veecle-os-runtime/src/datastore/single_writer/reader.rs
  veecle-os-runtime/src/datastore/single_writer/writer.rs
Due: main

docs: remove wrong panics section
  veecle-os-runtime/src/datastore/single_writer/slot.rs
Due: main

docs: remove wrong panics section (#253)
  veecle-os-runtime/src/datastore/single_writer/slot.rs
Due: main

fix: add veecle-os-runtime to `just bless`
  Justfile
Due: none

fix: add veecle-os-runtime to `just bless` (#254)
  Justfile
Due: none

feat: add MPSC (multiple-producer, single-consumer) slot
  CHANGELOG.md
  veecle-os-runtime-macros/tests/ui/actor/missing_lifetime.stderr
  veecle-os-runtime-macros/tests/ui/actor/unexpected_argument.stderr
  veecle-os-runtime/src/datastore/mod.rs
  veecle-os-runtime/src/datastore/mpsc/mod.rs
  veecle-os-runtime/src/datastore/mpsc/reader.rs
  veecle-os-runtime/src/datastore/mpsc/slot.rs
  veecle-os-runtime/src/datastore/mpsc/writer.rs
  veecle-os-runtime/src/execute.rs
  veecle-os-runtime/src/lib.rs
  veecle-os-runtime/tests/mpsc.rs
  veecle-os-runtime/tests/ui/mpsc/basic.rs
  veecle-os-runtime/tests/ui/mpsc/multiple_writers.rs
Due: main, support

refactor: remove `DatastoreExt` trait
  veecle-os-runtime/src/datastore/combine_readers.rs
  veecle-os-runtime/src/datastore/mod.rs
  veecle-os-runtime/src/datastore/mpsc/mod.rs
  veecle-os-runtime/src/datastore/mpsc/reader.rs
  veecle-os-runtime/src/datastore/mpsc/writer.rs
  veecle-os-runtime/src/datastore/single_writer/exclusive_reader.rs
  veecle-os-runtime/src/datastore/single_writer/reader.rs
  veecle-os-runtime/src/datastore/single_writer/writer.rs
Due: main

feat: add MPSC (multiple-producer, single-consumer) slot (#255)
  CHANGELOG.md
  veecle-os-runtime-macros/tests/ui/actor/missing_lifetime.stderr
  veecle-os-runtime-macros/tests/ui/actor/unexpected_argument.stderr
  veecle-os-runtime/src/datastore/mod.rs
  veecle-os-runtime/src/datastore/mpsc/mod.rs
  veecle-os-runtime/src/datastore/mpsc/reader.rs
  veecle-os-runtime/src/datastore/mpsc/slot.rs
  veecle-os-runtime/src/datastore/mpsc/writer.rs
  veecle-os-runtime/src/execute.rs
  veecle-os-runtime/src/lib.rs
  veecle-os-runtime/tests/mpsc.rs
  veecle-os-runtime/tests/ui/mpsc/basic.rs
  veecle-os-runtime/tests/ui/mpsc/multiple_writers.rs
Due: main, support
